[2017-02-01 21:50] jamshid opened #1 "Confusing changes in artifactory for maven cache"
Hi, I've been using jfrog-docker-reg2.bintray.io/jfrog/artifactory-oss:latest as my maven cache server. Either it changed recently or maybe docker 1.13 broke it, so I tried resetting the environment.

The new artifactory instructions and images are really confusing. This is supposedly "Running with Docker for V4.x":

https://www.jfrog.com/confluence/display/RTF/Running+Artifactory+OSS

but it says

[2017-02-02 08:41] eldada commented on #1
About the versions confusion - you are right. The Wiki was still using the `:latest` for the image tags. It's fixed now to show `:4.16.0`. We use the same registry and tag, so you have to specify the version 4 family if not planning on using version 5 (`:latest`).
You should use the `docker.bintray.io` tag. It's simply an alias to `frog-docker-reg2.bintray.io`, so you can't go wrong.

As for the i

[2017-02-16 23:15] jamshid commented on #1
Thanks okay that makes sense.

Btw I'm having a problem with the docker.bintray.io/jfrog/artifactory-oss:4.16.0 java process sometimes disappearing, I think due to Docker for Mac being under heavy load. I don't see any heapdump output on the file system (.hprof?), so maybe docker itself is killing `java`?

When this happens /tmp/run.sh is still running, I guess `/etc/init.d/artifactory wait` doesn

[2017-02-17 08:30] matankatz commented on #1
`/etc/init.d/artifactory wait`is built out of two commands, `artifactory start && tail -f /var/opt/jfrog/artifactory/logs/artifactory.log`.
Therefore if for some reason java process is being killed, run.sh is still running.

The correct `logback.xml` file to edit is in `/var/opt/jfrog/artifactory/etc/logback.xml` and changing "info" level to "debug" will be enough.

To determine what is the reason

[2017-02-23 18:36] eldada commented on #1
@jamshid - I wanted to let you know that you can now automate the automatic repositories setup at Artifactory OSS first boot by using the instructions in https://www.jfrog.com/confluence/display/RTF/Getting+Started#GettingStarted-YAMLConfigurationFile
The only thing is that you need to set an empty `licenseKey: ""`, since it's OSS.
Uncomment the `- maven` in `repoTypes` (and any other you want to

[2017-02-23 18:36] #1 closed

[2017-03-09 02:32] jainishshah17 opened #11 "Database name is not configurable"
The user needs to have capabilities to change database name. Looks likes its hard coded.

[2017-03-09 14:34] pgeorgiev333 opened #12 "Provided private key and latest private key fingerprints mismatch."
I have no idea where to post this but doe anyone have an idea what is wrong and why artifactory fails to start?

09-Mar-2017 11:21:41.912 SEVERE [localhost-startStop-1] org.apache.catalina.core.StandardContext.listenerStart Exception sending context initialized event to listener instance of class org.artifactory.webapp.servlet.AccessServerStarter
 java.lang.IllegalStateException: Provided private

[2017-03-09 16:35] eldada commented on #12
Hi @pgeorgiev333 . Can you provide more details?
- What did you install?
- Are these based on the examples here?
- What are the steps you took. Help us reproduce to try and help.

[2017-03-10 07:45] pgeorgiev333 commented on #12
well i started artifactory 4.x and used it for a while with volumes for /etc/ , data/ , backup/ and logs/ folders.
Then i chnaged the image to 5.1 and everything was ok for a while. Today i upgraded docker engine to the latest release 17.03.0-ce and artifactory failed to start. This is the error that i see in the logs.

I searched google and i could not find even one result that contains this erro

[2017-03-12 01:31] ankushchadha opened #13 "deployment section is part of service yaml"
Noticed that the deployment section is part of the service yaml. Looks like an issue.

[2017-03-12 01:32] #13 closed

[2017-03-12 10:19] eldada commented on #12
This error is from a fairly new feature in Artifactory, noting that the already registered key (in DB) is not matching the new key found on file system.
This sounds like there was a change in the mount volume used by Artifactory after the Docker upgrade.
This caused Artifactory to recreate an access key, and it does not match the already registered one in DB.
Are you aware that on 5.X, there is no

[2017-03-13 06:41] pgeorgiev333 commented on #12
Yes, am aware (i read it after the error). What i did was to keep the 4 volumes, stop/delete the 4.x container, change the image to the 5.x container and start it. Then it was working untill i had to stop docker to upgrade it. When i started artifactory after the docker upgrade it did not work.

SO i was forced to delete all 4 volumes, create a single one and move on. It would be nice to add some

[2017-03-13 07:07] eldada commented on #12
You are right - this should be better documented!
I will work on improving our Wiki and also add a note about the error you enountered.
Last request - can you share the command line you used to run Artifactory 4 and the 5? I want to confirm the cause.

[2017-03-13 07:44] pgeorgiev333 commented on #12
I just use docker compose:

 artifactory:
  image: docker.bintray.io/jfrog/artifactory-oss:5.1.0
  container_name: artifactory
  mem_limit: 12g
  memswap_limit: 12g
  restart: always
  environment:
  - TERM=linux
  ports:
  - "8081:8081"
  volumes:
  - /docker/artifactory/:/var/opt/jfrog/artifactory

The docker-compose section for the 4.x version is the same except:
1. I specified 4 volumes
2. The

[2017-03-15 12:07] eldada commented on #12
@pgeorgiev333  - I wanted to let you know we are documenting a recovery process for such an error, so it will come up in formal searches in our Wiki.
We were unable to reproduce your error, but are still working on trying to figure it our.
Once documentation is ready, I will close this issue.

[2017-03-15 13:05] pgeorgiev333 commented on #12
Thanks

On Wed, Mar 15, 2017 at 2:07 PM, Eldad Assis <notifications@github.com>
wrote:

[2017-03-16 10:03] eldada commented on #12
We have a formal documentation for this error now.
Look in https://www.jfrog.com/confluence/display/RTF/Access+Tokens#AccessTokens-Troubleshooting

Closing.

[2017-03-16 10:03] #12 closed

[2017-03-16 10:40] pgeorgiev333 commented on #12
Awesome! Thanks

[2017-03-17 17:26] andreychernih opened #14 "Why mounting postgresql.jar is required?"
This is the manual step which requires human intervention to get Artifactory up and running. Why not to vendor it in inside the container?

[2017-03-18 18:15] eldada commented on #14
@andreychernih - good point!
Few issues to point out.
- Artifactory support many database types, so we don't want to tie to any particular brand
- There are legal implications for distributing open source 3rd party with your commercial software. Must be aware of it. See [discussion here](http://softwareengineering.stackexchange.com/questions/47032/can-i-use-gpl-software-in-a-commercial-application

[2017-03-18 19:19] elordahl commented on #12
@eldada The troubleshooting has us save the keys from the "first Artifactory instance."  Where are the keys on that instance?  I'm attempting to upgrade from 4.16.1, and havent been able to get it started successfully.  Currently at the key-mismatch error, but am puzzled because the docs make it sound like the keys didnt exist in 4.x.

[2017-03-18 19:51] elordahl commented on #12
The troubleshooting worked once i set permissions properly on all the files referenced by the troubleshooting steps.

On a related note, i'm happy that it's finally working, but encountered file-permission issues at about every step.  I'm not sure why.

Anyway, glad i found this!

[2017-03-19 07:36] eldada commented on #12
@elordahl - thanks for the feedback. I'll pass it on to try and improve the troubleshooting section.

[2017-03-28 14:23] eldada commented on #11
You can control DB name by passing DB_URL which will replace the whole `url` property.

[2017-03-28 14:23] #11 closed

[2017-04-04 19:14] wsbpress opened #16 "Potential copy/paste error in script"
In the getArtifactoryComposeYaml function in the art-compose file there is this line:

[code]
I'm guessing it probably should be something like this:
[code]

[2017-04-04 19:30] eldada commented on #16
@wsbpress - good catch. I will fix this and close this once done. Thanks for the sharp eye!

[2017-04-05 01:13] andreychernih commented on #14
I guess your point about legal issues covers my question fully :) This totally makes sense, thank you.

[2017-04-05 01:13] #14 closed

[2017-04-05 05:14] eldada commented on #14
@andreychernih - I'm happy to tell you that starting next version, we'll release Artifactory Pro docker image pre-loaded with the PostgreSQL driver (we are OK on the legal side here).
Watch out for our next release coming soon!

[2017-05-25 22:14] magnusart commented on #12
@eldada Please add the directory where this access token is stored to the list at (and other places applicable) https://www.jfrog.com/confluence/display/RTF/Installing+Artifactory

From what I gather it's `$ARTIFACTORY_HOME/access/etc/keys`?

[2017-05-28 05:47] eldada commented on #12
@magnusart - you can see it here: https://www.jfrog.com/confluence/display/RTF/Access+Tokens#AccessTokens-SettingthePrivateKeyandRootCertificate
Is this not enough?

[2017-05-28 06:21] magnusart commented on #12
@eldada I've been trying to set up Artifactory in a containerized environment. I'm not going to read through all available documentation in detail and piece together different failure scenarios.

When I read the installation documentation that contains a directory structure title I expect to find all relevant folders on the root level with a comment. Access folder is not there.

[2017-05-28 06:31] eldada commented on #12
@magnusart - I agree. It should also be listed there. I will work on adding it.

[2017-05-28 06:33] magnusart commented on #12
Thanks! @eldada

[2017-05-28 08:03] eldada commented on #12
Done!

[2017-05-28 15:00] MichaelGreco opened #22 "docker login error - x509: certificate signed by unknown authority"
I was using docker-compose to deploy artifactory 5.3.1 and nginx. I read the instructions for :  "Artifactory Pro with Derby and Nginx for https support" and I ran :

$ sudo ./prepareHostEnv.sh -t pro -c

Since I wanted reverse-proxy (I'm using artifactory for docker images as well) I also created my certs on the same box :

root@ip-10-0-0-96:/data/nginx/ssl# ls -asl
total 16
4 drwxr-xr-x 2 syslog

[2017-05-28 15:30] MichaelGreco commented on #22
I should sai on the machine I'm running 'docker login' from is running :
docker -v
Docker version 17.03.1-ce, build c6d412e

[2017-05-29 04:54] eldada commented on #22
@MichaelGreco - when you open https://mymachine.mydomain.com/artifactory/ in a browser, does it show you the green sign (left of the URL) for a trusted, secured connection?

[2017-05-29 06:00] eldada commented on #22
Also - look into https://docs.docker.com/registry/insecure/#using-self-signed-certificates
Make sure you comply to the instructions for using a self signed certificate.

[2017-05-30 02:39] MichaelGreco commented on #22
Thank you for the reply :) So I think I'm beginning to understand more ... What it shows is a red triangle and the words "not secure".  And after reading that link I think I'm understanding now (thank you) that I have to put the self signed cert onto all the docker hosts ... I don't want to have to have people manage the self-signed cert ... so  is the right way to do this just buy a real cert  an

[2017-05-30 13:31] eldada commented on #22
@MichaelGreco - yes. You need to get a formal certificate issued by one of the many trusted authorities. See https://en.wikipedia.org/wiki/Certificate_authority
Putting the certificate with the key in the SSL directory and restarting the Nginx container should get you up and running with SSL. Make sure to follow their instructions on creating and setting it up.

Thanks for the compliments on the c

[2017-05-30 13:31] #22 closed

[2017-05-30 16:31] MichaelGreco commented on #22
I don't know if it would additionally help to tell people they are better off generateing a wild-card self signed cert, and then an example of how to have artifactory generate the artifactory.conf file in artifactory5. Once I got the right wild-card cert (generated and installed both under nginx and my local box), DNS set properly for that repo, and the right artifactory.conf file generated I was

[2017-06-06 17:25] ghost opened #23 "Swarm Mode Version?"
Requesting swarm mode (v3 file) Artifactory as a Docker Service version.

[2017-06-07 13:25] eldada commented on #23
@tim-wilcoxson - We'll look into it. You are also welcome to contribute here :-)

[2017-06-07 13:42] tim-wilcoxson commented on #23
@eldada - I'm going to convert one of the compose files you all provided and if it's sensical I'll contribute.  Either way, being new to Artifactory, it's nice to see how you all would do it.  Thanks!!

[2017-06-13 17:07] fbouliane commented on #12
We had the problem too :

This happened when you start artifactory 5 with the 4 volumes layout.
Artifactory starts and create a new ephemeral volumes with a /access folder containing keys that it migrates from somewhere.
As long as you don't restart the container, everything works fine.

When you restart the container after the migration, the /access cease to exists because the volume is ephemeral

[2017-06-13 18:49] eldada commented on #12
Thx @fbouliane for the addition!

[2017-06-14 13:15] JarRoDk opened #24 "Problem - download images from docker.bintray.io"
Hi i have problem to download images.
Yesterday (13.06.2017) it works. I am trying to use https://github.com/JFrogDev/artifactory-docker-examples/blob/master/docker-compose/artifactory-pro.yml

docker.bintray.io/postgres:9.5.2
docker.bintray.io/jfrog/artifactory-pro:5.3.2
docker.bintray.io/jfrog/nginx-artifactory-pro:5.3.2

[2017-06-14 13:28] eldada commented on #24
Hi @JarRoDk ,
I just checked a `pull` on a public network and it works
[code]

I assume something changed in your network settings.

Eldad

[2017-06-14 13:48] JarRoDk commented on #24
Ok, thx to confirm.

[2017-06-14 13:59] #24 closed

[2017-06-23 20:07] mfuxi commented on #23
I was trying to create a service in docker swarm in order to test Artifactory on Swarm and failed to do so using this command:
`docker service create --replicas 1 --name artifactory --network tstNet -p 8081:8081 docker.bintray.io/jfrog/artifactory-pro`

and got this error:

any idea how to solve this issue?

[2017-06-25 05:44] eldada commented on #23
@mfuxi - What about just setting the explicit version `docker.bintray.io/jfrog/artifactory-pro:5.4.1`.
Does this resolve it?

[2017-06-25 06:05] mfuxi commented on #23
@eldada I tried that as well, but got the same error message
Have you managed to run swarm mode with Artifactory?

[2017-06-25 07:08] eldada commented on #23
@mfuxi - I haven't tried SWARM with compose v3. I got it working in the past with v2.
I will consult my team here and get back to you.

[2017-06-25 08:11] mfuxi commented on #23
@eldada I'm not even using compose, just tried for starters to create the service without docker-compose..
Of course later on I will use docker-compose to run my instance in the right manner.

[2017-06-25 08:59] eldada commented on #23
@mfuxi - Can you help me reproduce?
- What is your SWARM setup? Version, installation type and environment.
- What are the commands used to all they way up to your `docker service create` execution?

[2017-06-25 09:11] mfuxi commented on #23
@eldada

-  Docker version 17.03.1-ce, build c6d412e, what do you mean by installation and environment? i'm using it on an Azure Ubuntu 16.04.2 machine

- The simplest commands: `docker swarm init \`
`docker service create --replicas 1 --name artifactory -p 80:8081 docker.bintray.io/jfrog/artifactory-pro@sha256:91405d6761f943739f5041808826eec5f88cbffc094b74ed72a4fc48c83521b0
`

That's it.

[2017-06-25 13:01] mfuxi commented on #23
@eldada I had managed to run Artifactory services (postgresql, nginx and artifactory) on SWARM using **artifactory-pro.yml**, I changed and added some of the properties:
added to each of the services:
`deploy:`
      `mode: replicated`
      `replicas: 1`
And changed to each of the services from: `docker.bintray.io/jfrog/artifactory-pro:5.4.0` to `docker.bintray.io/jfrog/artifactory-pro:latest`

a

[2017-06-26 05:09] eldada commented on #23
@mfuxi - I happy you got it working!
I'm all for sharing. Do you want to submit a formal pull request?
- Need to set an explicit version (currently 5.4.1 is latest)
- Provide a readme with
    - Links to instructions on setting up swarm (no need to detail it here)
    - Instructions on spinning up Artifactory in swarm using the compose example you provide

Since this is a new orchestrator, I want

[2017-06-26 07:54] mfuxi commented on #23
@eldada Yeah sure I will submit a format pull request with all the needed code and documentation.

[2017-06-28 06:26] johnrkriter opened #26 "Amazon Linux wont start with compose due to ulimit"
Currently, I have had issues starting the artifactory-pro-nginx-derby.yml compose file due to limits within amazon linux. The issue is that the containers inherit a very small ulimit(1024) no matter what I do.

What I suggest is to add a ulimit configuration to the docker compose files.
Something like
ulimits:
        nproc: 65535
        nofile:
            soft: 20000
            hard: 40000

[2017-06-28 08:40] eldada commented on #26
Thx @johnrkriter for this. Did you see the errors in the Artifactory log (it's supposed to warn or fail if limits are not good)?

[2017-06-28 08:48] johnrkriter commented on #26
Yes it warned me that the ulimit was 1024 and was too low, so it stopped the start up.

John Kriter
[cid:image001.png@01D2F036.B683B1F0]
Technology Architect
Lync / E-mail : John.R.Kriter@Accenture.com<mailto:John.R.Kriter@Accenture.com>
Phone US: 713-982-7962
Phone International: 832-305-1567

From: Eldad Assis <notifications@github.com>
Reply-To: JFrogDev/artifactory-docker-examples <reply@reply

[2017-06-30 11:41] paulcayon commented on #24
Hello,

I have the same problem actually with the OSS version :

https://github.com/JFrogDev/artifactory-docker-examples/blob/master/docker-compose/artifactory-oss-postgresql.yml

[code]

I copy the content of the artifactory-oss-postgresql.yml to a docker-compose.yml file (this is why I can use docker-compose up without -f option)

any Idea ?

[2017-07-01 03:52] eldada commented on #24
@paulcayon - I tested it now, and the `pull` is ok now. You might have experienced temporary network hangs.
Can you test again and confirm it's working?

[2017-07-02 15:09] eldada commented on #26
Hi @johnrkriter. Thanks for this. Do you want to issue a formal pull request with this improvement? We encourage contributions!

[2017-07-02 22:54] johnrkriter commented on #26
PR opened referencing issue #26

________________________________
From: Eldad Assis <notifications@github.com>
Sent: Sunday, July 2, 2017 10:09:59 AM
To: JFrogDev/artifactory-docker-examples
Cc: Kriter, John R.; Mention
Subject: [External] Re: [JFrogDev/artifactory-docker-examples] Amazon Linux wont start with compose due to ulimit (#26)

Hi @johnrkriter<https://urldefense.proofpoint.com/v2/url?u=

[2017-07-10 16:49] #26 closed

[2017-07-15 19:02] eldada commented on #23
We now have a Swarm example using a compose yaml.

[2017-07-15 19:02] #23 closed

[2017-07-16 18:09] eldada opened #31 "Kubernetes examples should use a more generic PV type"
The current storage examples use `hostPath`, which is good for Minikube and not for a real deployment on a Kubernetes cluster.
The PVC should use the `volume.alpha.kubernetes.io/storage-class: default` storage class which will allow it to choose the default PV type depending on the vendor hosting the cluster.

[2017-07-17 10:12] #31 closed

[2017-08-01 05:27] marcellodesales opened #33 "Suggested Volume for Deployment using Swarm in AWS"
Hi there,

Requirements
----

* Our enterprise has apps that requires the most popular Registries such as Docker, Java, NPM, YUM (RPM), etc.
 * We are a RHEL shop
* We need to support more than a thousand users around the globe
 * Comes down to thousands of Builds servers (AMI, Packer, Jenkins, CircleCI, etc)
* We need a centralized, HA solution for all
* We got a PRO license and our enterprise mi

[2017-08-03 11:03] eldada commented on #33
Hi @marcellodesales ,
Your query has a lot of issues to cover. Some are out of this repository's scope. I'll try and give you some answers and directions 😄
- It looks like you require an HA setup. Artifactory excels at that. The Docker based solutions can provide you that. This repository has a few options as examples.
- For storage, there are many options for artifactory. Especially if you instal

[2017-08-03 11:03] #33 closed

[2017-08-04 08:03] marcellodesales commented on #33
Thanks a lot @eldada... We will go through the support channel for more info!

[2017-08-15 12:57] NasAmin opened #36 "Artifactory in docker swarm does not work"
Hi,

We are using Artifactory enterprise license and trying to setup a multi site network topology. Is Docker swarm mode suitable for that?

Volumes don't work in docker  swarm-mode
Container names aren't supported
Unable to manage artifactory instances and the Swarm's load balancer will take to any task running the instance and not the one you want to manage in Mission Control.
Is Swarm Mode appr

[2017-08-17 11:34] holgerstolzenberg opened #37 "Artifactory Docker Image(s) should support secrets"
Currently, if using an external database, an environment property for setting the database password can be leveraged.

A better way would be to use Docker secrets. The official PostgreSQL image show cases how that can be achieved. They leave the choice to the user to provide the password via env property or secret definition.

More details can be found here: https://github.com/docker-library/postg

[2017-08-20 05:28] eldada commented on #37
Hi @holgerstolzenberg . This is a good idea. You can open a task in https://www.jfrog.com/jira/secure/Dashboard.jspa.

[2017-08-21 08:16] holgerstolzenberg commented on #37
JIRA issue was created:
https://www.jfrog.com/jira/browse/RTFACT-14826

[2017-08-21 08:52] eldada commented on #37
Great! I will close this and allow Artifactory dev to take the JIRA issue.

[2017-08-21 08:52] #37 closed

[2017-08-22 22:41] marcellodesales commented on #36
HI @NasAmin

I'm working towards the following architecture...

* Use RexRay Docker volume plugin for EBS to store the Database Data
 * Single Container can Write to the FS
* Use RexRay Docker volume plugin for EFS to store the Web App Data
 * Multiple Containers can write to the FS

Finally got Docker Volumes to work in AWS https://github.com/codedellemc/rexray/issues/820#issuecomment-323624765.

[2017-08-23 07:00] jinro79 opened #38 "The nginx proxy pass value is not changing to the value of art_base_url in the docker compose file."
Maybe I'm doing this wrong, I set ART_BASE_URL=http://mycustomartifactory:8081/artifactory in my docker compose file.  When I start with "docker-compose up " the nginx proxy pass does not change to the value in ART__BASE_URL.  It is still http://artifactory:8081/artifactory.  I have to stop the containers, change the file manually and then restart the containers to get it to work.

Thanks

[2017-09-18 12:36] crazy-max opened #39 "Timezone ?"
Currently the timezone for the docker image `docker.bintray.io/jfrog/artifactory-pro` is set to `Etc/UTC`

[code]

Would be nice if we can set the timezone through docker-compose file like :

[code]

Thanks!

[2017-09-18 13:01] crazy-max commented on #39
For the moment i use my local files (`/etc/timezone` and `/etc/localtime`) as volume in the docker-container :

[code]

[2017-09-19 05:45] eldada commented on #39
Hi @crazy-max - this is a nice suggestion.
Can you add it to the main [Artifactory JIRA](https://www.jfrog.com/jira/projects/RTFACT/)?

Closing here.

[2017-09-19 05:45] #39 closed

[2017-09-19 05:49] eldada commented on #38
Hi @jinro79  - this is a good catch.
Can you add it to the main [Artifactory JIRA](https://www.jfrog.com/jira/projects/RTFACT/)? It should be checked and fixed there.

(sorry for the late reply)

Closing here.

[2017-09-19 05:49] #38 closed

[2017-09-19 07:22] crazy-max commented on #39
Done https://www.jfrog.com/jira/browse/RTFACT-14973

[2017-10-09 14:58] holgerstolzenberg opened #40 "Securing Artifactory with SSL"
Is there any option to secure the `docker.bintray.io/jfrog/artifactory-oss` image directly with SSL?

Currently I only found examples that use the opinionated `nginx-artifactory-pro` image what yields some problems:

Imagine a Swarm cluster that provides some CI services like Artifactory, Jenkins and so on. Having all these services inside the swarm, often one central API/reverse proxy is desired

[2017-10-09 17:30] eldada commented on #40
@holgerstolzenberg - you can use the `docker.bintray.io/jfrog/nginx-artifactory-pro` or any standard `nginx` image to provide you with the SSL.
You can add Artifactory OSS to your existing load balancer in a cluster of services.
If you insist, you can build a new Docker image that has Artifactory and Nginx together (not recommended) to avoid having them talk on the host network, although I think t

[2017-10-10 07:59] holgerstolzenberg commented on #40
Thanks for the answer, but the idea is already clear. In our scenario we use traefik.io to reverse proxy services within a Swarm cluster. One of these services is Artifactory. It works without any problems. The problematic point is that SSL is terminated at the Traefik reverse proxy, but communication between Traefik <-> Artifactory is still unencrypted.

Using `docker.bintray.io/jfrog/nginx-artif

[2017-10-10 13:35] eldada commented on #40
Look at https://www.jfrog.com/jira/browse/RTFACT-7201. I think this is what you are looking for, but it will require you to build a new Docker image based on `docker.bintray.io/jfrog/artifactory-oss` that does the needed modifications to `server.xml`.
I'm closing this issue. Feel free to open a JIRA issue if you think more is required.

[2017-10-10 13:35] #40 closed

[2017-10-17 10:44] katzefudder opened #41 "Dockerfile available?"
I'm currently trying to find a Dockerfile for docker.bintray.io/jfrog/artifactory-pro.
Is there one available somewhere?

[2017-10-17 11:28] eldada commented on #41
Hi @katzefudder - you can find the OSS Docker file in the Artifactory OSS sources: https://jfrog.bintray.com/artifactory/jfrog-artifactory-oss-5.5.1-sources.tar.gz

There is a `distribution/docker` module. It has the sources for the Docker image. It's almost identical to the Pro version.

If you want more specific details, look at https://bintray.com/jfrog/reg2/jfrog%3Aartifactory-pro. It has a gr

[2017-10-17 11:28] #41 closed

[2017-10-17 11:44] katzefudder commented on #41
You're doing many things with the _entrypoint-artifactory.sh_, which unfortunately differs between OSS and  PRO. I'm pretty interested in having all parts in this repo, as it would make setup via Docker a lot more obvious and would also make documentation a lot more comprehensive than it is today.

[2017-10-17 11:52] eldada commented on #41
Go ahead and pull the `docker.bintray.io/jfrog/artifactory-pro:5.5.1` image, and `bash` into it
[code]
Then, you can see `/entrypoint-artifactory.sh`.

[2017-10-17 12:00] katzefudder commented on #41
Well, sure, I know that... somehow, I had the chance to look at it before I was reaching out to you ;)
We're actually trying to run Artifactory in production, and are currently evaluating different approaches about how we deploy the software in AWS. Having all the sources (all the glue that puts Artifactory in place) at hand would be a nice thing to have, even when thinking about maintainance and

[2017-10-31 01:30] markeijsermans commented on #38
Somewhat related: the source for the nginx container (`docker.bintray.io/jfrog/nginx-artifactory-pro:5.5.1`) is missing so the `/entrypoint-nginx.sh` can't be fixed here

[2017-10-31 01:36] markeijsermans opened #43 "Dockerfile missing"
The Dockerfile & source for the images are missing:
* `docker.bintray.io/jfrog/nginx-artifactory-pro:5.5.1`
* `docker.bintray.io/jfrog/artifactory-pro:5.5.1`

There's quite a lot going on with the entrypoints, and fixing issues/forking is difficult.

Diff'ing the history, It seems the postgres image is an unmodifed `postgres:9.5.2` image.

[2017-10-31 16:17] eldada commented on #43
@markeijsermans - we have plans on adding the files. No time estimate yet - sorry.

[2017-11-08 10:58] mstevens83 opened #44 "Can I configure Artifactory to live at http://some.domain:port instead of http://some.domain:port/artifactory/"
https://stackoverflow.com/questions/47177636/configure-artifactory-to-live-at-http-some-domainport-instead-of-http-some

[2017-11-09 06:26] eldada commented on #43
Closing for now. The files are in process of being added.

[2017-11-09 06:26] #43 closed

[2017-11-09 08:46] eldada commented on #44
@mstevens83 - see answer in same post.

[2017-11-09 08:46] #44 closed

[2017-11-28 09:45] MrShark commented on #43
Unfortunate close, since it's not solved yet and the closing makes it harder to find. (Read as: I first looked att open issues, then searched for it a couple of hours and then found this. Making me trust JFrog less.)

Is there any time estimate? Even one on the level: days, months or years would be useful to decide if I should do the reverse engineering to be able to deploy.

[2017-11-28 11:18] eldada commented on #43
@MrShark - the addition of the Dockerfiles for the Artifactory Docker images is in one of the coming minor releases (weeks away).

[2017-12-12 20:05] vamsi248 commented on #33
below are my logs like this....

Starting artifactory...
Found java executable in JAVA_HOME (/docker-java-home/jre)
mkdir: cannot create directory ‘/opt/artifactory/logs/catalina’: Permission denied

** Could not create dir /opt/artifactory/logs/catalina

once i deleted the user lines in the docker then it has taken the root user and container running fine..
why its not giving permission to create

[2017-12-12 20:06] vamsi248 commented on #33
can anyone help me in this issue @marcellodesales @whiteley @jfrog

[2017-12-14 23:41] jinro79 opened #48 "Unable to access artifactory gui when running artifactory container on nfs mounted volume"
I can run artifactory-nginx-postgres just fine with the docker compose file provided.

I add the fstab entry and mount /data/artifactory to an nfs share, I can no longer reach the artifactory web gui.  I check the logs and it looks like everything has started correctly, but I get a HTTP Status 404 - not found error. NFS versions 3 and 4 have been tried with the same result.

I unmount the share, r

[2017-12-15 08:34] eldada commented on #48
Does artifactory user/process have write permissions to the mounted volume?

[2017-12-15 08:52] jinro79 commented on #48
I was able to resolve this issue on my own but didn't have a chance to update.  The owner and group of the plugins folder and it's contents was not artifactory:artifactory.  Chown to artifactory:artifactory and restart got things working on the nfs share.  I'll add the exact path that was the issue when I get back to the office tomorrow.  You can mark this resolved.

[2017-12-15 08:52] #48 closed

[2017-12-15 08:53] jinro79 commented on #48
eldada thanks for support!

[2017-12-18 06:03] eldada commented on #36
@NasAmin , @marcellodesales - guys - this is old. Is it still relevant? Or can I close it?

[2017-12-21 08:59] eldada commented on #43
@markeijsermans, @MrShark,
The newly released Artifactory 5.7.0 now includes the Dockerfile(s) for the relevant images.
You can see the content with a simple `docker run` command:
[code]

I hope this meets your needs.

[2018-01-03 15:05] NasAmin commented on #36
Yes you may close this issue. What I am trying to do isn't easily possible with Swarm-mode

[2018-01-03 17:36] #36 closed

[2018-02-22 20:14] ju2wheels opened #57 "Why is db password being written to file?"
The database password for the docker examples are being written to a file in $ARTIFACTORY_HOME/.dbpassword in this [setDbPassword](https://github.com/JFrogDev/artifactory-docker-examples/blob/master/docker-compose/art-compose#L168-L178) but this file doesnt seem to actually be used anywhere.

It seems like this can be safely dropped. A better way to handle the password in the docker-compose files

[2018-02-26 11:49] eldada commented on #57
@ju2wheels - sorry for the delay. I will try and look at this in the coming day.

[2018-02-28 20:58] arielkv commented on #57
@ju2wheels it seems you are correct.
Artifactory has introduced some major changes in version 5.7.0 which created that gap.
This, in addition to other changes, originated from the change of 5.7.0 have to be addressed.

[2018-02-28 21:51] ju2wheels opened #58 "Docker image file permissions"
I have been using the following Artifactory Docker images:

|Image|Volume|
|--------|----------|
|docker.bintray.io/jfrog/artifactory-pro:5.9.0|`/srv/artifactory/artifactory:/var/opt/jfrog/artifactory`|
|docker.bintray.io/jfrog/nginx-artifactory-pro:5.9.0|`/srv/artifactory/nginx:/var/opt/jfrog/nginx`|

I am using configuration management to place files into `/srv/artifactory/artifactory` aka my `A

[2018-03-01 09:24] eldada commented on #58
Hi @ju2wheels - `chowning` a directory in a Docker container might be a problem. It requires you to be **root** when running the entrypoint.
If you look at the artifactory entrypoint - `/entrypoint-artifactory.sh`, you will see we already have a `chown` (calling function in line 237). But - we are planning on removing this in a future release.
There is a requirement to avoid running the container

[2018-03-06 15:25] ju2wheels commented on #58
OK, closing.

Thanks,

[2018-03-06 15:25] #58 closed

[2018-03-13 00:27] shrajfr12 opened #62 "Helm installer post deploy message does not apply to AWS"
After successfully deploying to kurbernetes via helm on AWS, the following message is deployed.
===
Congratulations. You have just deployed JFrog Artifactory Pro!
1. Get the Artifactory URL by running these commands:

   NOTE: It may take a few minutes for the LoadBalancer IP to be available.
         You can watch the status of the service by running 'kubectl get svc -w nginx'
   export SERVICE_I

[2018-03-13 16:29] Idanatcox opened #63 "Settting JAVA Max Memory"
When setting "EXTRA_JAVA_OPTIONS=-Xmx8g" the JVM will launch with with duplicate "-Xmx" args

**JVM Arguments:**
Args:  -Djava.util.logging.config.file=/opt/jfrog/artifactory/tomcat/conf/logging.properties
-Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager
-Djdk.tls.ephemeralDHKeySize=****
-Djava.protocol.handler.pkgs=org.apache.catalina.webresources
-Xms512m
**-Xmx2g**
-Xss256k
-XX

[2018-03-14 07:11] eldada commented on #63
Hi @Idanatcox . You are right. This is very common in customising Java applications.
You start with a default set of parameters, and add your custom ones to the end of the JVM parameter list. This might result in duplication of parameters.
The JVM knows to use the latter occurrence of every parameter. This might look ugly, but it works well.
In your case, only **-Xmx8g** will be used.

[2018-03-14 15:10] Idanatcox commented on #63
Thanks, I've tested it and it works correctly.

[2018-03-14 15:28] #63 closed

[2018-03-16 03:52] jainishshah17 opened #64 "Allow support to set StorageClass for Artifactory-Ha helm chart"

[2018-03-16 19:47] jainishshah17 commented on #64
https://github.com/kubernetes/charts/pull/4239

[2018-03-19 16:38] maguro opened #65 "HA Helm chart doesn't seem to support TLS"
I'm probably missing something obvious, but I can't seem to find how to configure **TLS** in the HA Helm chart.  I see it for the "regular" Helm chart.

[2018-03-19 18:39] maguro opened #66 "Using static ip address for HA Helm chart"
I'm on GCP.  I'd like to use a static IP address for my HA Helm chart setup.

[2018-03-20 23:07] #64 closed

[2018-03-20 23:49] jainishshah17 commented on #66
@maguro Are you looking for this: https://cloud.google.com/kubernetes-engine/docs/tutorials/configuring-domain-name-static-ip

[2018-03-21 00:00] jainishshah17 commented on #66
https://github.com/kubernetes/charts/pull/4373

[2018-03-21 06:36] eldada commented on #66
@maguro - Once the pull request is merged, we'll also update the sources here.

[2018-03-21 06:53] eldada commented on #65
@maguro - We are working to improve this.
In the `artifactory` chart, the TLS support is provided using an Ingress. We are going to add it to `artifactory-ha` as well.

For now, look at the instructions in https://github.com/JFrogDev/artifactory-docker-examples/blob/master/docker-compose/NginxSSL.md and apply the same logic.
- Create a TLS secret
[code]
- In `templates/nginx-deployment.yaml`, moun

[2018-03-21 20:10] jainishshah17 commented on #65
https://github.com/kubernetes/charts/pull/4396

[2018-03-23 02:34] maguro commented on #65
The pull request seems to be stuck.

[2018-03-23 14:29] maguro opened #67 "Helm charts fail lint"
$ helm lint --strict artifactory-ha
    ==> Linting artifactory-ha
    [ERROR] templates/: render error in "artifactory-ha/templates/nginx-service.yaml": template: artifactory-ha/templates/_helpers.tpl:54:14: executing "artifactory-ha.nginx.fullname" at <.Values.nginx.fullna...>: map has no entry for key "fullnameOverride"

    Error: 1 chart(s) linted, 1 chart(s) failed
    $ helm lint --strict a

[2018-03-26 04:34] eldada commented on #67
Hi @maguro . The official helm charts repository and the best practices use `helm lint` only. Without the `--strict` flag, so we follow similar.
Passing the `--strict` check will require us to put almost all of the sub-chart parameters in the main **values.yaml**, which I'd like to avoid so to reduce complexity.

[2018-03-28 14:35] maguro commented on #67
Makes sense to me.

[2018-03-28 14:35] #67 closed

[2018-04-03 06:45] eldada commented on #66
@maguro - stuck due to errors in automated tests. We are working on it.

[2018-04-10 18:24] jainishshah17 commented on #65
@maguro PR is merged.

[2018-04-12 00:35] ankushchadha opened #70 "Documentation - How to install plugins in Artifactory if helm charts are used?"
If Artifactory is installed via Helm Charts, there is no easy way to install plugins. Like the use of ConfigMaps as documented here - https://github.com/JFrogDev/artifactory-docker-examples/tree/master/openshift/artifactory#installing-user-plugins

[2018-04-12 21:16] jainishshah17 opened #71 "Make server_name Configurable in Artifactory charts."
When we deploy Artifactory using charts it takes artifactory service name as Server Name. To change it to domain name we need to manually exec into pod and change it. IF container crashes it reverts nginx configuration to default.

[2018-04-12 21:17] jainishshah17 commented on #71
@ankushchadha @eldada

[2018-04-25 23:52] williamhuangh opened #72 "Directory '/opt/jfrog/artifactory/data' is not writable!"
out of the box, Artifactory for k8s gives me an error of:
[code]
I'm running as user 1030 (since we cannot run as root), is there something I'm missing that will get past this error?

[2018-04-27 04:32] eldada commented on #72
Hi @williamhuangh.
- Which example in this repository did you use to install? Can you paste the actual pod yaml from your K8s?
- What is your K8s env? Version, vendor etc.

[2018-05-01 20:31] jainishshah17 opened #73 "Helm upgrade is not taking licenses from secret."
Once you install artifactory-ha using `helm install --name artifactory-ha stable/artifactory-ha`
Then if you create license secret and try to pass that secret to artifactory-ha using `helm upgrade
 artifactory-ha --set artifactory.license.secret=artifactory-cluster-license,artifactory.license.dataKey=art.lic stable/artifactory-ha` it's not taking licenses.

[2018-05-01 20:32] jainishshah17 commented on #73
@eldada

[2018-05-08 21:37] williamhuangh commented on #72
@eldada
[code]
version 1.10 running on AWS
thanks for the help!

[2018-05-08 22:31] williamhuangh commented on #72
I stuck a `command: ["sleep", "infinity"]` into the yaml and manually ran the entrypoint.
opt/jfrog/artifactory/logs/catalina/localhost.2018-05-08.log has this log:

[code]

[2018-05-09 05:58] eldada commented on #72
Two questions:
1. How is PVC `artifactory-claim` created?
2. Can you paste the pod's log?

[2018-05-09 18:17] williamhuangh commented on #72
@eldada for now i've commented out the PVC mount, so `/var/opt/jfrog/artifactory` only exists on the pod's filesystem (just want to get this working before dealing with the PVCs).

running the entrypoint logs out:
[code]

[2018-05-09 22:04] williamhuangh commented on #72
@eldada they seem to be all symlinks in this directory, if i remove the symlink (like i did with /data here), it gets past that error and errors on another symlink in the `/opt/jfrog/artifactory` directory

[code]

[2018-05-10 11:06] eldada commented on #72
@williamhuangh - I think the root cause for all this mess is the `runAsUser: 1030`.
Artifactory **entrypoint** has to run as root (for now). It takes care of preparing the storage and eventually triggers Artifactory to run as `artifactory` user (1030).
There is a task to support starting Artifactory Docker container as non-root, but it's not ready yet.

Can you remove this section and see if it so

[2018-05-10 17:57] williamhuangh commented on #72
@eldada why are we running artifactory as the `artifactory` user when it should be fine running as `root`? it's its own isolated container so running as `root` should not be an issue

[2018-05-10 19:46] williamhuangh commented on #72
@eldada fwiw, these symlinks in the `/opt/jfrog/artifactory/` folder are there before the entrypoint is run, and point to directories that dont exist (`/var/opt/jfrog/artifactory/` is an empty directory)

[code]

[2018-05-17 17:48] williamhuangh commented on #72
@eldada when you get the chance, any update on this?

[2018-05-18 14:00] cyrilc-pro opened #74 "Error when using ha-shared-data"
Running `prepareHostEnv.sh` for `ha-shared-data` gives an error.

[code]

[2018-05-21 15:48] wcott opened #75 "Postgress, Artifactory, and Nginx all don't have write permission"
Following the documentation here to get a docker private registry deployed on containers: https://www.jfrog.com/confluence/display/RTF/Getting+Started+with+Artifactory+as+a+Docker+Registry#GettingStartedwithArtifactoryasaDockerRegistry-UsingDockerCompose-1MinuteSetup.1

After running this command:
`curl -L 'https://bintray.com/api/v1/content/jfrog/run/art-compose/$latest/art-compose?bt_package=art

[2018-05-22 10:42] nimerb commented on #74
@cyrilc-pro Thank you for the heads up, on it.

[2018-05-22 14:00] nimerb commented on #72
@williamhuangh Thank you for the feedback. We are working on reproducing this and we will update you accordingly.

[2018-05-23 07:51] nimerb commented on #74
@cyrilc-pro We have committed a change to fix this.

[2018-05-23 11:45] nimerb commented on #72
@williamhuangh Regarding the question about master.key usage in OSS, the master.key is used by Access server for it's encryption (for transaction with Artifactory ) and it's saved to the database, so it's not related to HA or not.
Furthermore, we have tried to reproduce the issue (Using root user) that you have encountered but did not encounter any issues (Although we had '/opt/jfrog/artifactory/r

[2018-05-23 14:45] 0pen5pace opened #77 "Small typo creates a problem"
The template should be defined as following
[code]
and not
[code]

https://github.com/JFrogDev/artifactory-docker-examples/blob/470cbb63c47afe985e8423b425f6e1607d4f7524/openshift/artifactory/database/postgresql/secrets/postgresql-secret.yaml#L11

[2018-05-23 21:54] williamhuangh commented on #72
@nimerb will be trying this out again in a bit, but i've tried using the helm chart as well and ran into the exact same error:
[code]
i do need to configure my persistentvolume first correct? persistentvolumeclaims mean nothing without a persistentvolume

[2018-05-24 11:15] eldada commented on #74
@cyrilc-pro - can you confirm the fix is good?

[2018-05-24 11:28] cyrilc-pro commented on #74
@eldada Sorry, I can't right now. I'll let you know if/when I can...

[2018-05-24 11:29] nimerb commented on #72
@williamhuangh regarding the helm chart we will work on reproducing the issue.
With regards to configuring the **persistentvolume** first and then **persistentvolumeclaims**, can you please elaborate more on what you mean by that ?

[2018-05-24 11:33] eldada commented on #75
Hi @wcott . We need some more information for this.
- What OS are you running on?
- Is this your first attempt?
- This `art-compose` script create these directories on the host. Were these already create before?

Can you paste the output of the whole process?

[2018-05-24 16:27] elioengcomp commented on #77
Hi @0pen5pace,

Thank you for the catch! It has been fixed.

Best.
Elio

[2018-05-24 16:27] #77 closed

[2018-05-25 14:09] wcott commented on #75
I discovered the issue. The issue was with SELinux on CentOS. You resolve it by changing the volumes line from:

`/data/postgresql:/var/lib/postgresql/data`
to
`/data/postgresql:/var/lib/postgresql/data:z`

[2018-05-28 05:50] hr1sh1kesh opened #78 "Running Artifactory and Postgres as non-root"
Hello,
     I am trying to deploy Artifactory (Pro in a weeks time) OSS. I need to deploy Artifactory and Postgres with a non-root user. Just wondering if you have baked images which would allow that or would i need to write a dockerfile on my own. My environment doesn't allow running privileged containers. (kubernetes 1.8)

I did see a different issue where the security context was set to 1030 us

[2018-05-29 10:27] eldada commented on #78
Hi @hr1sh1kesh.
We have support for pure non-root for `Artifactory` coming soon. As for `Postgresql`, since we use an external Docker image, we have no control over this. See https://github.com/docker-library/postgres. All versions still use **root** to execute the entrypoint and then start **postgres** with **gosu**.

[2018-06-03 07:16] nimerb commented on #74
@cyrilc-pro can you please update if the fix was sufficient ?

[2018-06-03 07:26] nimerb commented on #72
Hi @williamhuangh Do you have any update on this issue ?

[2018-06-04 07:44] cyrilc-pro commented on #74
Yes, it works, but it looks like load balancer does not work correctly.

I had to manually execute the following steps:
* Copy master.key from node1 to node2
* Restart (I'm not sure this is required)
* Log into node1 (port 8081) and add two valid licenses.
* Restart (I'm not sure this is required)

Without those steps, I had 50% of HTTP requests sent to nginx fail with 404 Not Found.

[2018-06-04 09:03] nimerb commented on #74
@cyrilc-pro Thank you for the update, we will check this issue.

[2018-06-04 09:15] eldada commented on #74
@cyrilc-pro - are you open to using helm?
We have our latest `artifactory-ha` helm chart in https://github.com/kubernetes/charts/tree/master/stable/artifactory-ha. You can install a fully functional **Artifactory HA** with support for several storage options.

[2018-06-04 11:53] cyrilc-pro commented on #74
@eldada I'll think about it next time I need to install an Artifactory cluster.

[2018-06-04 17:30] eldada commented on #74
@cyrilc-pro - I suggest you don't wait too long ;-)
Try it out. Get comfortable with our helm charts. They are the recommended way to deploy Artifactory and Artifactory HA to K8s.

[2018-06-06 12:56] nimerb commented on #75
@wcott Thank you for the update. We will try if the mentioned fix works well with different configurations. Your feedback is appreciated.

[2018-06-06 14:05] nimerb commented on #57
@ju2wheels The fix was merged. This issue can be closed now.

[2018-06-06 14:09] #57 closed

[2018-06-08 20:03] jainishshah17 opened #80 "Artifactory helm charts"
Allow helm charts to chose nodes to run pods on. For e.g Allow parameter to run artifactory-primary and artifactory-member pods on different nodes.

[2018-06-12 20:48] #71 closed

[2018-06-12 21:07] ryancurrah commented on #71
Why was this closed?

[2018-06-12 21:20] jainishshah17 commented on #71
@ryancurrah You can make this changes in Artifactory -> Admin -> Configuration -> HTTP Settings. Once you save this changes in Artifactory it will be applied to Nginx automatically.

[2018-06-12 21:30] ryancurrah commented on #71
Ok thanks!

[2018-06-15 19:52] williamhuangh commented on #72
@nimerb @eldada
apologies for the delay in getting back to you; had to push off artifactory to work on a couple other tasks

https://github.com/kubernetes/charts/tree/master/stable/artifactory is the helm chart that I used, running in AWS (we have a home-grown system, not AKS), but long-term we will be using self-applied yamls and not helm

with regards to the persistentvolume and persistentvolume

[2018-06-15 21:47] williamhuangh commented on #75
@nimerb @eldada this looks similar to https://github.com/jfrog/artifactory-docker-examples/issues/72, we're running fedora

[2018-06-20 07:40] nimerb commented on #75
@williamhuangh Thank you for your input we have committed a fix pending approval

[2018-06-20 20:11] williamhuangh commented on #75
@nimerb the `mkdir: cannot create directory ‘/var/opt/jfrog/artifactory/data’: Permission denied` is the same as https://github.com/jfrog/artifactory-docker-examples/issues/72 , but https://github.com/jfrog/artifactory-docker-examples/issues/72 is for kubernetes, do you know what the equivalent fix in those yaml files may be?

[2018-06-20 20:43] jainishshah17 commented on #75
@williamhuangh  Can you try changing the owner of VolumeMount `/var/opt/jfrog/artifactory/` like `chown -R 1030:1030 /var/opt/jfrog/artifactory/`?

[2018-06-22 10:42] walterdolce opened #84 "Master key mismatch. The provided master.key file does't match the DB fingerprint. Make sure your db.properties configurations are valid and the master key matches the DB you are trying to connect to."
Given I would not know where to raise this I thought to join the party and do the same as done here (#12). I'm trying to install Artifactory in HA mode.

I am trying to start Artifactory from an EC2 instance that is currently configured as the primary node. When I do that via `systemctl start artifactory`, I get the following:

[code]

The `master.key` has been manually generated and provisioned o

[2018-06-22 10:50] walterdolce commented on #84
I thought I would add more info to this.

The database is an empty PostgreSQL RDS instance and this is what the `db.properties` looks like:
[code]

[2018-06-22 10:51] praqmaTim opened #85 "How to best bootstrap a container based on jFrog image?"
I was wondering how I bootstrap from Jfrogs base image. I would like to have pre-configured LDAP settings, DB connection, repositories and structure.

Would it be sufficient to copy own files , artifactory.config.xml, artifactory.system.properties, db.properties to images artifactory home?
e.g. something like:
[code]

[2018-06-22 10:58] walterdolce commented on #84
Some more info, taken from `$ARTIFACTORY_HOME/etc/artifactory.properties`:
[code]

[2018-06-23 13:08] walterdolce commented on #84
Closing this as it is being dealt with by JFrog's support.

[2018-06-23 13:08] #84 closed

[2018-06-24 06:58] nimerb commented on #72
@williamhuangh have you tried the suggested workaround by @jainishshah17 on issue #75 ?

[2018-06-26 16:35] jainishshah17 commented on #85
@praqmaTim We do have the simple option available to bootstrap Artifactory with configurations.
Mount directory putting all configuration file in it to `/artifactory_extra_conf/`.
e.g
[code]

[2018-06-26 16:47] jainishshah17 commented on #80
https://github.com/kubernetes/charts/pull/6311
https://github.com/kubernetes/charts/pull/6310

[2018-06-27 05:31] praqmaTim commented on #85
Great! But what is the difference between artifactory.config.import.xml and artifactory.config.bootstrap.xml? I thought the configuration file was to be called bootstrap.

[2018-06-27 15:42] jainishshah17 commented on #85
@praqmaTim  `artifactory.config.bootstrap.xml` is for https://www.jfrog.com/confluence/display/RTF/Configuration+Files#ConfigurationFiles-BootstrappingtheGlobalConfiguration

[2018-06-28 06:19] praqmaTim commented on #85
Thanks for the information!

[2018-06-28 06:19] #85 closed

[2018-06-28 17:15] jainishshah17 commented on #73
Installing new license via UI, REST API, JFrog CLI should solve this. Hence closing this issue.

[2018-06-28 17:15] #73 closed

[2018-06-28 22:48] williamhuangh commented on #75
@jainishshah17 nope, i still get the same error

[2018-06-28 22:49] williamhuangh commented on #72
@nimerb i still get the same permission error unfortunately

[2018-06-28 23:39] williamhuangh commented on #72
@nimerb @eldada i figured it out --  via the entrypoint, quite a few directories in the mount `/opt/jfrog/artifactory` symlinks to subdirectories of `/var/opt/jfrog/artifactory/` (logs, etc, data, backup, access). however, the `artifactory` user does not even have cd access into `/var/opt/jfrog`. if i `chmod -R 777 `/var/opt/` before i run the entrypoint, it gets past the error and starts up artif

[2018-06-29 21:29] aram535 opened #86 "art-compose and hosting a docker repository not working together."
I have a 3 note setup (by using art-compose) and then hosting a docker repository in the resulting artifactory instance.  I can login to the docker repo if I point the docker client directly at artifactory but if I try to use the nginx the authentication doesn't seem to be making it across and it gives a strange error about v2 docker not supported.

I'm duplicating here but the original question i

[2018-06-29 21:33] jainishshah17 commented on #86
@aram535 can you share your `nginx.conf`?

[2018-06-29 21:36] aram535 commented on #86
It's the auto-generated one with just the new set of keys.
The internal artifactory Http Settings are "Tomcat" and "Repository Path"... should have mentioned that in the original post.
[code]

[2018-06-29 21:39] jainishshah17 commented on #86
@aram535 Thank you for sharing config. You are missing one step. add following entry in your `etc/hosts`  file:
[code]

then try to pull docker image using
[code]

[2018-06-29 23:03] aram535 commented on #86
Thank you for that update.... I do have the host entry but not for 127.0.0.1 it's pointing to the 10.x address.

10.15.53.21 artifactory.company.com docker.artifactory.company.com docker-remote.artifactory.company.com

now I see that if I do:
[code]
Is that my problem with accessing this repository over the internet with authentication?  Do I need to get a star certificate for *.artifactory.compan

[2018-06-29 23:12] jainishshah17 commented on #86
Your `etc/hosts` entry is fine. I thought you are using default SSL certs. In this case you will have to change HTTP settings in Artifactory -> Admin -> Configuration -> HTTP Setting.
change the public server name to `artifactory.company.com` and Server Provider to `Nginx` also change other field accodringly

[2018-06-29 23:29] jainishshah17 commented on #86
change the public server name to `company.com`

[2018-06-29 23:38] aram535 commented on #86
Same cert error.

[2018-06-29 23:40] aram535 commented on #86
ah oh, I think it broke the web ui when I changed the servername to company.com.

[2018-06-29 23:54] jainishshah17 commented on #86
did it fix your issue?

[2018-06-29 23:56] aram535 commented on #86
no same cert error for docker and I have lost access to the web portal.  I "think" I can change the public server name back using API, correct?

[2018-06-30 00:31] jainishshah17 commented on #86
Yes, Here is the link https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-UpdateReverseProxyConfiguration

[2018-07-02 16:28] jainishshah17 commented on #86
If your cert is valid for `*.company.com` then you don't need to pass another cert. Just creating two DNS record is enough.
1.  `artifactory.company.com`
2. `*.company.com`
**Note**: You can not use cert for `*.company.com` with `*.artifactory.company.com`.

[2018-07-03 12:23] ealebed opened #89 "Artifactory in docker container crashes on second (!) run"
Hi all!
I try start artifactory in docker using docker-compose file:

[code]

At first run all works fine, but if I execute `docker-compose down` and than `docker-compose up -d`, docker container looks working:
[code]

but artifactory not working:
[code]

In logs (`docker logs -f artifactory`) I see next:
[code]

If needed, I can attach full log or file `/artifactory.config.import.xml`

[2018-07-03 12:31] mfuxi commented on #89
Looks like an issue with your certificate.
Did you generate some self signed certificate or is it the example certificate that comes with the repo?

[2018-07-03 12:38] ealebed commented on #89
Thanks, @mfuxi

No, I didn't generate any certificates.
Maybe it is some cert that comes with docker image or autogenerated (when container first run) certificate?

[2018-07-03 12:55] ealebed commented on #89
Oh, I think I find solution!

In my `artifactory.config.import.xml` I just remove
[code]

and now it works fine!

Sorry )

[2018-07-03 13:29] #89 closed

[2018-07-10 05:54] williamhuangh commented on #72
@nimerb @eldada update on this?

[2018-07-10 08:13] nimerb commented on #72
@williamhuangh regarding the permission for the ${ART-HOME}/ you can give it 664 if you do not have any user plugins that needs to be included and executed by Artifactory, /var/opt/jfrog/artifactory/etc/plugins, Please read more about user plugins in our wiki [https://www.jfrog.com/confluence/display/RTF/User+Plugins](url)

[2018-07-10 20:41] mtdeguzis opened #90 "Docker volumes are troublesome, wiki/repo does not provide proper examples"
When using docker volumes, Artifactory is unable to create the sub-directories:

[code]

On inspection of the image, it seems they are chowned by user 'artifactory', which explains this:

[code]

The wiki docs, https://www.jfrog.com/confluence/display/RTF/Installing+with+Docker, do not explain this properly. You end up spending a long time trying to figure this out while using provided docker comp

[2018-07-10 20:55] mtdeguzis commented on #90
The directories and requirements should be setup as root and chowned I would argue, negating any tomfoolery with gosu and docker volumes.

[2018-07-10 21:11] mtdeguzis commented on #72
I may have made a duplicate issue with #90 . Sorry to be blunt, but this is insane even for regular docker users. Creating a docker volume ahead of time, and even chowning it before docker-compose doesn't do the trick. Ideally, you need to prepopulate dirs, create them as root, and chown them instead in the wrapper, or take an multi-script route with `run-pars` like https://github.com/jjethwa/icin

[2018-07-10 23:15] williamhuangh commented on #72
@nimerb giving 664 is not enough. i run into the same permission error. I'm surprised you cannot reproduce this error. it's a blocking error and not fedora specific.

[2018-07-10 23:58] mtdeguzis commented on #72
Solved it in my case,. Any system with SELinux needs an override of proper Z or z context lableing:
[code]

See also: https://stackoverflow.com/questions/35218194/what-is-z-flag-in-docker-containers-volumes-from-option
See also: https://stackoverflow.com/questions/24288616/permission-denied-on-accessing-host-directory-in-docker

[2018-07-10 23:59] mtdeguzis commented on #90
This was an SELinux issue, see my comments on #72

[2018-07-10 23:59] #90 closed

[2018-07-12 07:41] nimerb commented on #72
@williamhuangh thank you for the feedback, we will double check with the same permissions used by you.
@mtdeguzis We have committed a fix for the configuration of the selinux label in issue #75

[2018-07-12 13:46] mtdeguzis commented on #72
Thanks!!

[2018-07-12 13:47] mtdeguzis commented on #75
See also #72

[2018-07-12 13:50] mtdeguzis commented on #75
I just added the volume mode/label on the end of my service volume:

[code]

Bear in mind that z and Z are different. Consult selinux docs.

[2018-07-12 14:43] valdisrigdon opened #91 ""persistence.enabled=false" still mounts the PV"
When running Artifactory HA using an RDS database and S3 storage, we would like to avoid having the local persistent disk. A number of things are cached there, such as database passwords, and subsequent restarts of the pods don't update values from `Secret`s.

[2018-07-13 01:50] jainishshah17 commented on #91
@valdisrigdon Can you provide more information. Are you using Helm charts or Kubernetes templates?

[2018-07-13 02:33] valdisrigdon commented on #91
We are using the Helm charts.

[2018-07-13 02:39] jainishshah17 commented on #91
@valdisrigdon What is the version of helm chart?

[2018-07-13 07:39] williamhuangh commented on #72
@nimerb @eldada after getting past the permission error (ive given `/var/opt/` 777 for now), artifactory spins on
[code]
and Access never creates the master.key file. should i be providing a master.key or is access supposed to create it for me?

[2018-07-14 13:08] valdisrigdon commented on #91
0.2.0

[2018-07-14 22:31] jainishshah17 commented on #91
@valdisrigdon In that version, we do not have support for local storage. I recommend using the latest version of helm chart with the flag `artifactory.persistence.local=true` .

[2018-07-14 22:36] jainishshah17 commented on #86
@aram535 Are you able to resolve your issue?

[2018-07-15 02:40] joshphp opened #92 "db.properties Setup Invalid - Kubernetes w/ PSQL"
I am deploying Artifactory on Kubernetes, with an external Postgres database. I am having a difficult time using the environment variables as defined here: [link](https://www.jfrog.com/confluence/display/RTF/Changing+the+Database)

First, it is not clear in the documentation (link above) that one is expected to prepend the `DB_URL` env_var with `jdbc:postgresql://`, which I was able to figure out

[2018-07-15 03:07] joshphp commented on #92
Its somehow related to the value coming from a `Secret`, although the decoded value in the container is accurate, so I wonder if its a newline or some sort of other character. Will keep digging and close this if I find the issue to be resolved.

[2018-07-15 03:20] joshphp commented on #92
Closing, newline character that made its way all the way up.

[2018-07-15 03:20] #92 closed

[2018-07-15 11:48] aram535 commented on #86
Sort of.  Only works internally (insecure mode).   I cannot figure out how to have both a *.company.com cert for the UI and the *.artifactory.company.com for docker.

[2018-07-15 22:36] nimerb commented on #72
@williamhuangh Access will create the master.key automatically on initial startup(In case of a one nodes setup) or you can provide it by placing it under ${ART_HOME}/etc/security/ , Since you have attempted to install Artifactory multiple times and it was started, theres a reference for the master.key in the database but it's not found under the mentioned path. It's recommended to start from scrat

[2018-07-16 02:41] aram535 commented on #86
Sorry.  I didn't mean to do it with one cert.  I'm trying to setup two different certs one for artifactory.company.com (*.company.com) and one for *.artifactory.company.com,, but the HTTPD setup only allows one cert to be applied to the configuration for Nginx.

[2018-07-22 17:51] mtdeguzis opened #93 "Examples use links instead of networks"
The links directive is legacy, and should not be used: https://docs.docker.com/network/links/. Is there a reason links are being used here? I am using a network with no issue (e.g. "artifactory-network")

See Differences between user-defined bridges and the default bridge for some alternatives to using --link.

[2018-07-31 07:37] mordf opened #94 "Can't deploy helm charts onto Kubernetes cluster"
Trying to deploy the helm charts according to the instructions in the README.md (https://github.com/jfrog/artifactory-docker-examples/tree/master/kubernetes/helm/artifactory)  and according to this post: https://jfrog.com/blog/confessions-of-a-devops-frog-automating-artifactory-deployment-to-kubernetes-is-actually-easy/

But i'm getting some errors on mounting volumes:
`Unable to mount volumes for

[2018-07-31 07:46] eldada commented on #94
@mordf - can you try using the official chart from https://github.com/helm/charts/tree/master/stable/artifactory ?
We are in the process of updating our charts (still a few open PRs). Once done, we'll update here as well.

[2018-07-31 07:50] mordf commented on #94
I used the official charts, since if I go through your this link:
https://jfrog.com/blog/confessions-of-a-devops-frog-automating-artifactory-deployment-to-kubernetes-is-actually-easy/

It takes the official charts, right?

[2018-07-31 16:14] jainishshah17 commented on #94
@mordf Yes, It takes the official charts.
Can you share the output of `kubectl describe $STORAGE_CLASS/$PVC_NAME/$POD_NAME/`
also detail about your `kubectl` and `helm` version

[2018-07-31 17:40] patbat95008 opened #95 "Running the artifactory-ha.yml image fails to start Nginx"
Steps to reproduce:
1. Save the docker-compose yaml file:
**wget https://raw.githubusercontent.com/jfrog/artifactory-docker-examples/master/docker-compose/artifactory-ha.yml**
2. Run docker-compose:
docker-compose up

Note the Nginx gets stuck in a restart loop as the artifactory.conf file is not set correctly

**nginx                | 2018-07-31 17:37:34  [146 entrypoint-nginx.sh] Preparing to ru

[2018-08-01 06:05] mordf commented on #94
[code]
`$STORAGE_CLASS/$PVC_NAME` don't exist (this is probably my problem) why any of them is being created?

`kubectl describe pod --namespace=artifactory gone-anteater-artifactory-5876966dfd-vv4lj`
Name:           gone-anteater-artifactory-5876966dfd-vv4lj
Namespace:      artifactory
Node:           -----
Start Time:     Wed, 01 Aug 2018 05:53:40 +0000
Labels:         app=artifactory

[2018-08-01 15:59] ankushchadha commented on #95
@jainishshah17 - can you take a look?

[2018-08-01 16:19] jainishshah17 commented on #94
@mordf Exactly. Problem is K8s not being able to create PV and PVC dynamically.
You will have to create a storage class or you can create PVC manually and pass it to installation using values.yaml.

[2018-08-01 18:41] jainishshah17 commented on #95
@patbat95008 Following this steps will help. https://github.com/jfrog/artifactory-docker-examples/tree/master/docker-compose#artifactory-ha

[2018-08-01 19:07] patbat95008 commented on #95
After some troubleshooting I was able to get this to work using the following steps:

0. Clean the /data directory and remove the previous docker containers
$ docker ps -a
CONTAINER ID        IMAGE                                                 COMMAND                  CREATED             STATUS                        PORTS               NAMES
75eee42c6747        docker.bintray.io/jfrog/nginx-art

[2018-08-06 12:02] praqmaTim opened #96 "Please provide an example security.import.xml"
It would be great if you provided an example of a security.import.xml file. I am presently trying to build a specific artifactory image for my organization. But I can't seem to find any decent references or examples of baking in the permission setup.

For example what would be the valid values of the masks property of ace?

[2018-08-06 17:07] mordf commented on #94
@jainishshah17 is that problem is a local problem I encounter or that is how K8S is work?

[2018-08-06 17:34] jainishshah17 commented on #96
@praqmaTim Let me explain the use of `security.import.xml`.
Assuming you have one Artifactory call it Site A with users, groups and permission created. Now you want to bring up Artifactory Site B with all this users, groups and permission created in Artifactory Site A.
To do that you need to follow this simple steps:
1.  Get Security Configuration Descriptor of Artifactory Site A using REST API/UI

[2018-08-06 17:40] mordf commented on #94
Thanks @jainishshah17 so I need to create 3 resources of PV and PVC? (Artifactory, Nginx, Postgresql)

[2018-08-06 18:11] jainishshah17 commented on #94
@mordf Yes, and pass them with `artifactory.persistence.existingClaim`, `postgresql.persistence.existingClaim` and `nginx.persistence.existingClaim`

[2018-08-06 19:56] mordf commented on #94
`helm install --namespace=artifactory stable/artifactory --set artifactory.persistence.existingClaim=claim-artifactory --set nginx.persistence.existingClaim=claim-nginx --set postgresql.existingClaim=claim-postgresql`

claim-artifactory, claim-nginx and claim-postgresql are PVC's I created manually of course..

Like this I presume..
I'm still getting this error:
Unable to mount volumes for pod "co

[2018-08-06 20:15] jainishshah17 commented on #94
You are missing `persistence` in `--set postgresql.existingClaim=claim-postgresql`

[2018-08-06 20:46] mordf commented on #94
now i'm stuck on this situation:
NAME                                             READY     STATUS     RESTARTS   AGE
agile-saola-artifactory-df8f7b57d-w5649          0/1	   Init:1/2   0          3m
agile-saola-artifactory-nginx-7557d498cb-k6db4   0/1	   Init:0/1   0          3m
agile-saola-postgresql-796879746-ll4xg           1/1	   Running    0          3m

All mounts had succeeded but Artifacto

[2018-08-06 20:59] jainishshah17 commented on #94
@mordf Can you provide the output of `kubectl describe pod POD_NAME` and logs of pods.

[2018-08-06 21:32] mordf commented on #94
`kubectl describe pod --namespace=artifactory agile-saola-artifactory-df8f7b57d-w5649`

Name:           agile-saola-artifactory-df8f7b57d-w5649
Namespace:      artifactory
Node:           <VMDNS>/<IP>
Start Time:     Mon, 06 Aug 2018 20:42:03 +0000
Labels:         app=artifactory
                component=artifactory
                pod-template-hash=894936138
                release=agile-saola
A

[2018-08-06 22:00] jainishshah17 commented on #94
@mordf Can you verify is Postgres is up and running properly? looks like initContainer  2 of Artifactory pod which makes sure that  Postgres is up and running is getting stuck.

[2018-08-06 22:04] mordf commented on #94
yep, looks like something wrong with the postgresql:
`FATAL:  could not open relation mapping file "global/pg_filenode.map": Permission denied`

Any idea how to solve that?

[2018-08-06 22:15] mordf commented on #94
I had deleted the pod and now it looks like the postgresql is working fine but i'm still suck on
`Error from server (BadRequest): container "artifactory" in pod "agile-saola-artifactory-df8f7b57d-s4jqh" is waiting to start: PodInitializing`

[2018-08-07 00:31] jainishshah17 commented on #94
@mordf I recommend deleting this release using `helm delete --purge $RELEASE NAME`. Then clean all volumes then reinstall Artifactory.

[2018-08-07 05:29] eldada commented on #96
More info in [JFrog's Wiki](https://www.jfrog.com/confluence/display/RTF/Configuration+Files#ConfigurationFiles-SecurityConfigurationDescriptor).

[2018-08-07 05:39] eldada commented on #93
@mtdeguzis - thanks for the note. You are right!
These examples are old, so they still use links.
Do you want to submit a pull request with the suggested improvement?

[2018-08-07 06:42] mordf commented on #94
I did that, now Postgresql pod looks just fine, but I still encounter the same problem with PodInitializing error..

`$ kubectl logs -f --namespace=artifactory inky-chicken-postgresql-577b645d96-8fd6s`
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.utf8".
The defa

[2018-08-07 06:45] mordf commented on #94
Also, when I type docker logs on the alpine image in the node where Artifactory POD resides I see this error:
`$ sudo docker logs d8853309b459`

nc: bad address 'inky-chicken-postgresql'
nc: bad address 'inky-chicken-postgresql'
nc: bad address 'inky-chicken-postgresql'
nc: bad address 'inky-chicken-postgresql'
nc: bad address 'inky-chicken-postgresql'

[2018-08-07 16:07] jainishshah17 commented on #94
@mordf can you provide output of `kubectl get svc` .

[2018-08-07 16:12] mordf commented on #94
musty-puma-artifactory         ClusterIP      -----------   none        8081/TCP                     5m
musty-puma-artifactory-nginx   LoadBalancer   -------   pending     80:30744/TCP,443:31649/TCP   5m
musty-puma-postgresql          ClusterIP      --------   none        5432/TCP

[2018-08-07 21:20] jainishshah17 commented on #94
@mordf Can you send me the full error log. Also when you reinstalled Artifacotry did you clean PVs for Artifactory and Postgres? Also, can you change the permission of this 2 volumes to 777 and try installing Artifactory again?

[2018-08-08 05:33] mordf commented on #94
@jainishshah17 I did clean the PV's and recreated them also changed the permissions to 777
I reinstalled Artifactory and again the only error I see when I `docker logs <alpineArtifactoryContainer>` is:
`nc: bad address 'sartorial-pig-postgresql'`

[2018-08-08 15:02] jainishshah17 commented on #94
@mordf Let's plan to have screen sharing session. I will able to help you more when I see real-time logs.

[2018-08-08 15:05] mordf commented on #94
@jainishshah17 sounds excellent, tell me when

[2018-08-08 19:40] jainishshah17 commented on #94
@mordf I am available today 5-6 PM PST and 8:30-10 AM tomorrow. Let me know what time works for you.

[2018-08-08 19:47] mordf commented on #94
8:30-10 tomorrow is better for me, thanks!

[2018-08-08 21:17] jainishshah17 commented on #94
@mordf PM me on Twitter https://twitter.com/jainishshah24. I will share zoom link for the meeting.

[2018-08-09 15:39] mordf commented on #94
@jainishshah17 Can't PM you on twitter since you don't follow me
i'm @mfuxi1 on twitter

[2018-08-09 17:29] mordf commented on #94
Finished the screen sharing session.
@jainishshah17 thanks a lot for your time!

The reason we are getting `nc: bad address` is because from some reason Artifactory doesn't know the artifactory-postgresql, we tried hacking the hosts file of the running container and adding to it and record of the artifactory-postgresql but it didn't help so we removed the `nc` command using `kubectl edit pod` comm

[2018-08-09 18:58] mordf commented on #94
@jainishshah17 I just would like to update that I upgraded my cluster to v1.9.6 and i'm still experiencing the same issue so apparently this has nothing to do with K8S version

[2018-08-09 19:50] Manojtuguru opened #97 "The liveness probe in the mission control deployment is over indented and when passing a nodeselector"
Link to offending line of code: https://github.com/helm/charts/blob/edd5421c4724a1f41475b236bdf6d86b5de9e8a0/stable/mission-control/templates/mission-control-deployment.yaml#L117

[2018-08-09 19:51] jainishshah17 commented on #94
@mordf Can you check if your kubedns is working properly in your cluster?

[2018-08-09 19:54] Manojtuguru opened #98 "User Images are hard coded In the create-user.yaml"
Ability to allow variables in images in the create-users.yaml:
 https://github.com/helm/charts/blob/edd5421c4724a1f41475b236bdf6d86b5de9e8a0/stable/mission-control/templates/hooks/create-user.yaml#L31

[2018-08-09 19:58] mordf commented on #94
@jainishshah17 `kubectl get pod -n kube-system` shows their status as running 3/3
But when i'm `kubectl logs -n kube-system kube-dns` I see this error:

**Error from server (BadRequest): a container name must be specified for pod kube-dns-79d99cdcd5-ggpml, choose one of: [kubedns dnsmasq sidecar]**

[2018-08-10 00:42] jainishshah17 commented on #98
@Manojtuguru I have created PR with the fix. Here is link to PRhttps://github.com/helm/charts/pull/6449

[2018-08-10 00:42] jainishshah17 commented on #97
@Manojtuguru I have created PR with the fix. Here is link to PRhttps://github.com/helm/charts/pull/6449

[2018-08-10 07:26] mordf commented on #94
@jainishshah17 I would like to update that I just created a new cluster with KOPS on AWS and installed Artifactory on it with the HELM charts went smooth.

So apparently i'm missing some configuration with my kubespray deployment on Azure (probably something with networking)

Would you like me to close the issue?

[2018-08-10 16:10] jainishshah17 commented on #94
@mordf Thank you for updating me. I recommend to close this issue and open relevant one in kubespray.

[2018-08-10 16:48] #94 closed

[2018-08-13 14:57] adrukh commented on #72
I hit this wall in our case (GKE as the underlying k8s), resolved by overriding perms with the following `initContainers` section in `kubernetes/artifactory.yml`:
[code]

Hope this helps someone!

[2018-08-14 01:04] strategicenterprisesolutions opened #101 "HA not starting with 6.2"
Seems to have directory permission issues as well as nginx config

OS: CentOS 7.5 (SELINUX disabled)
docker-compose: 1.22.0
docker-ce: 18.06

will post logs shortly..

[2018-08-14 01:05] strategicenterprisesolutions commented on #101
Steps to reproduce:
New VM with Centos 7.5

git clone https://github.com/jfrog/artifactory-docker-examples.git
cd artifactory-docker-examples/docker-compose/
./prepareHostEnv.sh -t ha -c
docker-compose -f artifactory-ha.yml up -d

[2018-08-14 10:37] eldada commented on #101
@strategicenterprisesolutions - you are right. This is caused by the new feature in 6.2 that now artifactory starts and runs as a non-root user. This means you have to give it permissions before starting it up.
I will work on updating `./prepareHostEnv.sh` to add support for it.

[2018-08-14 13:49] eldada commented on #101
@strategicenterprisesolutions - thanks for the feedback.
With Artifactory 6.2, we introduced true non-root containers for Artifactory and Nginx. See [data persistency](https://www.jfrog.com/confluence/display/RTF/Installing+with+Docker#InstallingwithDocker-ManagingDataPersistence) section in Artifactory wiki.
We'll provide a fix to the `prepareHostEnv.sh` to reflect this feature.

[2018-08-14 16:19] InfoSec812 opened #103 "OpenShift Template Install Broken"
1. The `install.sh` script has `/bin/sh` for the shebang, but the syntax requires `/bin/bash`.
2. You should use the [PostgreSQL template](https://github.com/openshift/origin/blob/master/examples/db-templates/postgresql-persistent-template.json) included with OpenShift which runs without root privileges -

[2018-08-15 00:49] strategicenterprisesolutions commented on #101
Thanks. I was able to get to past this issue by adding these entries to prepareHostEnv.sh (line 166/167)
chown -R 1030:1030 ${ROOT_DATA_DIR}/artifactory
chown -R 104:107 ${ROOT_DATA_DIR}/nginx

[2018-08-15 05:03] eldada commented on #101
Yes. This is the correct solution. We have a pull request with a similar change to this 😄

[2018-08-15 05:42] eldada commented on #101
Fix merged. Closing. @strategicenterprisesolutions - let us know if you see any issues.

[2018-08-15 05:42] #101 closed

[2018-08-15 17:25] jainishshah17 commented on #98
@Manojtuguru PR is merged.

[2018-08-15 17:25] #98 closed

[2018-08-15 17:25] jainishshah17 commented on #97
@Manojtuguru This PR is merged.

[2018-08-15 17:25] #97 closed

[2018-08-15 17:26] jainishshah17 commented on #91
@valdisrigdon Any update on this issue?

[2018-08-15 17:32] valdisrigdon commented on #91
I'll close this. In the latest version of the helm chart, we can avoid using PVs.

[2018-08-15 17:32] #91 closed

[2018-08-15 17:35] jainishshah17 commented on #86
@aram535 Any update on this issue?

[2018-08-15 21:15] aram535 commented on #86
Two part ... adding the docker.artifactory.company.com to the local host file worked for an "insecure" connection.  I still haven't been figure out how to apply a second certificate, a star cert, to cover both artifactory.company.com as well as *.artifactory.company.com.

[2018-08-16 18:37] jainishshah17 commented on #86
@aram535 You can try something like this -> https://stackoverflow.com/questions/14434120/nginx-set-multiple-server-name-with-ssl-support

[2018-08-16 20:27] elioengcomp commented on #103
Hi @InfoSec812 ,

Thanks for opening this case.

I have fixed the shell comments as you pointed out.

The PostgreSQL templates provided in this repository are a reference to the database deployment step and its usage is completely optional. If you have a supported database available to be used by Artifactory, you can ignore them.

Best.
Elio

[2018-08-21 14:45] bsemperlotti opened #104 "Version 6.2.0 "/var/opt/jfrog/artifactory is NOT writable!""
Hello,

When starting a fresh `helm install` with artifactory version 6.2.0 I get the following error and pods enter in CrashLoop.
No issue when using `helm install` with version 6.1.0 then upgrading to version 6.2.0

[code]

[2018-08-21 18:30] jainishshah17 commented on #104
@bsemperlotti version 6.2.0 we made the change in our docker images to run it with `artifactory` user with `uid 1030`. I am working on creating PR to update the current chart to work with Artifactory version 6.2.0. Meanwhile, you can use it from my fork https://github.com/jainishshah17/charts/tree/artifactory-6.2.0

[2018-08-22 14:05] bsemperlotti opened #105 "artifactiry-ha helm chart: Add SSL termination on the loadbalancer for Nginx Service"
I am trying to deploy artifactory-ha helm chart on AWS and I would like to manage my SSL certificate with AWS and attach it to the LoadBalancer instead of having to manage the SSL termination on Nginx  through kubernetes secret.

Adding customisable annotations in `nginx-service.yaml` like in `ingress.yaml` should allow to write something like:
`service.beta.kubernetes.io/aws-load-balancer-ssl-cer

[2018-08-22 14:06] bsemperlotti commented on #104
Thx.
I don't know if you want to close this issue or keep it until you release your code.

[2018-08-22 16:10] jainishshah17 commented on #104
@bsemperlotti Keep it open until we release new chart.

[2018-08-22 22:58] williamhuangh opened #106 "DB_URL being overwritten"
setting up artifactory with the kubernetes yamls, I'm setting a couple env vars like this

[code]
however, it seems like this gets overwritten in the copy to db.properties into
[code]
seems like it ignores the `MY_DB_URL` portion of the url. i've gone into the volume itself and manually fixed db.properties so that now has the right url, but this seems like a pretty big bug, unless im missing somet

[2018-08-22 23:05] williamhuangh commented on #106
fwiw, my db is an AWS RDS db, and url is in the form of `[NAME].[RANDOM-ID-STRING].[REGION].rds.amazonaws.com`

[2018-08-23 05:27] eldada commented on #106
Hi @williamhuangh . You are right. This is a bug. Setting *DB_URL* should overrun *DB_HOST*.
I have opened a JIRA bug for Artifactory on this: https://www.jfrog.com/jira/browse/RTFACT-17384
Try the workaround of setting both **DB_URL** and **DB_HOST**. This way, the entrypoint will write DB_URL and then inject the correct DB_HOST into the same string.

[2018-08-23 06:27] eldada commented on #106
@williamhuangh - can we close this and continue tracking the JIRA bug? (confirm the workaround works for you first)

[2018-08-24 15:06] bsemperlotti opened #107 "Setup Artifactory HA cluster in AWS with Helm"
Hello,

I have found this documentation explaining how to set Artifactory HA cluster in AWS: https://jfrog.com/knowledge-base/how-to-setup-artifactory-ha-cluster-in-aws/

I am having troubles to get the same type of setup using the `stable/artifactory-ha` helm chart.

How to configure properly SSL termination on the LoadBlancer ?
How to configure properly the nginx reverse proxy to handle docker w

[2018-08-24 18:34] andriypotapov opened #108 "Can not install self signed CA certificates starting with 6.2.0"
**Use case**
Have to use self signed CA in order for Artifactory to connect to internet.
This is pretty standard setup for people in "enterprise" setting since I did not find any specific parameter or procedure to address self signed CA I wonder what would be the best way to handle this.

**Docker changes**
Effectively updated Artifactory Dockerfile with following commands
[code]
**Problem**
Was w

[2018-08-24 18:45] andriypotapov commented on #108
**Workaround**
1. Commented out ca-update in Dockerfile
[code]
2. Build and start container
3. open shell in container as root
`sudo docker exec -u root -t -i container_id /bin/bash`
4. Manually update container
`update-ca-certificates --fresh`

[2018-08-28 17:16] jainishshah17 commented on #107
@bsemperlotti Are you using EKS?

[2018-08-28 19:01] jainishshah17 commented on #104
@bsemperlotti New charts are available now.

[2018-08-29 04:42] eldada commented on #104
@bsemperlotti checkout https://github.com/jfrog/charts.
Please confirm this works for you and close this.

[2018-08-29 09:54] bsemperlotti commented on #107
Hello,
No we have our own Kubernetes cluster.

To summurize my issue:

I want whatever works the best between the SubDomain or PrefixPath method for docker registries to work with SSL termination on the LoadBalancer as we do not want to manage certificates files outside of AWS.

- My tests with PrefixPath:

I'm trying to configure artifactory using ingress rule,SSL termination is done by AWS ELB.

[2018-08-29 11:43] #105 closed

[2018-08-29 17:55] jainishshah17 commented on #107
@bsemperlotti Have you tried ingress this way?
https://medium.com/@jainishshah17/kubernetes-nginx-ingress-with-artifactory-on-gke-e6781d4ab5e8

[2018-08-30 08:53] bsemperlotti commented on #107
Hi thank you for this documentation. I was not aware of your blog and I'm sure I will find useful information.

I don't think I can use this method because we already have an ingress controller which is [TraeFik](https://traefik.io/) with all configuration properly setup (automatic DNS record creation, ELB SSL termination, Http to Https redirection, limited security groups, etc)

With the method y

[2018-08-30 13:58] bsemperlotti commented on #107
Seems that Traefik cannot do url rewriting so I definitely can't use this method

[2018-08-30 14:07] bsemperlotti commented on #107
Otherwise, I had a call with JFrog support today.

We think that NGinx configuration can be causing the error where the wrong 80 port is added to the request.
This line seems erroneous to us:
`proxy_set_header    X-Artifactory-Override-Base-Url $http_x_forwarded_proto://$host:$server_port/artifactory;`

According to [AWS documentation about ELB](https://docs.aws.amazon.com/elasticloadbalancing/lat

[2018-08-30 18:03] ghost opened #113 "artifactory-oss.yml not working correctly"
Hi,
I try deploy artifactory-oss.yml but I still get error

`ERROR: Max number of open files 1024, is too low. Cannot run Artifactory!`

When I start it with docker run --ulimit nofile="32000:32000" its ok, but I need this run in docker stack because I use swarm and I want use ingress network, cloud you help me?

Docker version 18.03.1-ce

Docker info:

[code]

[2018-08-30 18:16] jainishshah17 commented on #107
@bsemperlotti Looks good. Have you tested applying this changes in nginx?

[2018-08-31 07:49] bsemperlotti commented on #107
@jainishshah17
I can't, Nginx configuration is set by Artifactory application when editing "HTTP Settings" and is constantly overridden if a manual modification is made in the Nginx container.

[2018-09-03 15:13] crazy-max opened #115 "Simplify Xray installation for seasoned admins"
Hi,

In our company we master Docker concepts. We already have an Artifactory instance deployed with Docker Swarm and we plan to move to Xray soon. However, installing Xray with Docker is done with a third party shell script which doesn't really suit us in our deployment infrastructure.

I noticed that @maheshjfrog has created an example configuration for the [OpenShift platform for Xray](https://

[2018-09-03 21:45] crazy-max commented on #115
I have created a pull request with a simple example : #116

[2018-09-05 08:45] eldada commented on #115
https://github.com/jfrog/artifactory-docker-examples/pull/116 is merged. Closing.

[2018-09-05 08:45] #115 closed

[2018-09-05 09:06] crazy-max commented on #115
@eldada @jainishshah17 I had thought that maybe the configurations for Xray should be integrated in a dedicated repository like `xray-docker-examples` ? What do you think ?

[2018-09-05 09:19] eldada commented on #115
@crazy-max - We have already thought about this. There are a few logic limitations. We might do it in the future.

[2018-09-05 09:32] eldada commented on #115
Yes. And a few other internal concerns.

[2018-09-05 09:42] crazy-max commented on #115
Ok, and I also started working with [DAP (Docker Application Packages)](https://github.com/docker/app) in my company and I think it would be beneficial in this case

[2018-09-07 10:05] bsemperlotti commented on #107
@jainishshah17 Disabling the AutoConfigUpdate can work but:
 - Having to manually update directly the Nginx containers to update the conf seems really wrong
 - If AutoConfigUpdate is disabled, would the IPs of the Artifactory instances be updated if a pod restart ? I think not.

So I would propose to add a parameters in the helm chart  allowing to override `proxy_set_header X-Artifactory-Override-

[2018-09-11 11:43] bsemperlotti commented on #107
@jainishshah17 Thanks, it will be great to have these configuration options in Helm.
Note that the proposed code is just a example of what can be done, it was not actually tested and maybe you have a better solution.

[2018-09-11 11:44] bsemperlotti commented on #107
Close by mistake

[2018-09-13 13:29] mcgurksean commented on #86
Any update on this issue, guys?

I am having a similar issue pulling from

``registry-name.artifactory.company-name.com

where I get the error message:

``certificate is valid for *.company-name.com, company-name.com, not registry-name.artifactory.company-name.com

So, I have created a DNS entry for

``registry-name-artifactory.company-name.com

that points to

``registry-name.artifactory.company-

[2018-09-13 14:41] mcgurksean commented on #86
BTW, I think that I have solved this by amending the server_name part of the nginx configuration to:

`server_name ~(?<repo>.+)\.artifactory.company-name.com artifactory.company-name.com ~(?<repo>.+)\-artifactory.company-name.com;
`

[2018-09-15 19:05] aram535 commented on #86
I have tried all of the above even with semi-similar DNS tricks, however, I think passing through Azure as my auth proxy is wrecking havoc with the certs and DNS.  Funny enough everything else seems to work fine, it seems docker is the only one that has issues.

[2018-09-16 19:37] Ricky-N commented on #113
+1, I cannot get Artifactory to run in Docker Swarm due to the default 1024 file descriptor default limit. The `ulimit` settings don't actually work for swarm mode, and I cannot find a workaround for modifying this requirement at the Artifactory container level. I'm hesitant to start modifying global ulimit so I'll likely just drop using Artifactory altogether in favor of hosting individual reposi

[2018-09-17 05:35] eldada commented on #113
There is a workaround in the Artifactory entrypoint.
You can pass an override value to the environment variable `MIN_MAX_OPEN_FILES` (defaults to 10000).
[code]
Artifactory really needs these limits to function properly, so take care when overriding these values.

Let us know if it helped you.

[2018-09-18 13:40] aram535 commented on #86
@mcgurksean how did you manage to get artifactory from overwriting your nginx config file?  Every time I restart my docker-compose I have to re-edit the file (at least it works internally) but I cannot figure out how to stop it from re-generating the config file.

[2018-09-18 16:35] AngelloMaggio opened #118 "Artifactory run with local directory volume in Docker for Windows fails to initialize due to directory permissions"
When using Artifactory running inside a container on a Windows machine users can't restart artifactory due to issues with mounted storage.  As workaround excluded security folder from the list of volumes inside docker compose file.

The error is the following:
[art-init] [ERROR] (o.a.w.s.ArtifactoryContextConfigListener:94) - Application could not be initialized: The folder containing the key file

[2018-09-19 15:18] jainishshah17 commented on #86
@aram535 You can skip re-generating the config file by setting SKIP_AUTO_UPDATE_CONFIG=true in nginx service.

[2018-09-19 15:33] aram535 commented on #86
@jainishshah17 thanks.  Do you happen to know if that's a ENV variable I can through to the docker instance?  I used art-compose tool to generate my docker-compose.yml file.

[2018-09-19 15:35] jainishshah17 commented on #86
@aram535 You can put it after  https://github.com/jfrog/artifactory-docker-examples/blob/master/docker-compose/artifactory/artifactory-pro.yml#L59

[2018-09-20 05:44] eldada commented on #118
@AngelloMaggio - thanks for the feedback. We'll look into it. I agree updating documentation should be done. Will update on this.

[2018-09-26 14:24] bastyy opened #119 "Structure in docker to upload upload projects"
Hello, a doubt, I have this structure in my docker volumes: data/artifactory/ and within artifactory I have: access backup data etc logs replicator, however where do I leave the repo that I want to load?

Greetings and thanks!

[2018-09-27 00:40] ajinkyasurya opened #120 "MacOS ERROR: Directory /var/opt/jfrog/artifactory has bad permissions for user 'artifactory'"
Error seems similar to https://github.com/jfrog/artifactory-docker-examples/issues/104 but that PR is closed.
Steps to reproduce on MacOS High Sierra:
[code]
Docker containers keep restarting:
[code]
Logs:
[code]

[2018-09-27 10:30] eldada commented on #120
@ajinkyasurya - you are right. https://github.com/jfrog/artifactory-docker-examples/issues/104 was fixed in our helm charts. Not here. We'll work on a fix here too.

[2018-09-27 11:57] eldada commented on #120
@ajinkyasurya - can you test the fix in the branch `permissions-on-mac`? Only `prepareHostEnv.sh` has changed.
https://github.com/jfrog/artifactory-docker-examples/blob/permissions-on-mac/docker-compose/artifactory/prepareHostEnv.sh

[2018-09-27 12:01] eldada commented on #119
@bastyy - what do you mean:

What repo? Load where? Can you link to related documentation?

[2018-09-28 17:13] ajinkyasurya commented on #120
Fails with a different permission error now.
[code]
[code]
I was wondering, do you guys have a Dockerfile I can use? I want to build my own image on top of my private base image instead of pulling a third party image.

[2018-10-02 17:20] ajinkyasurya commented on #120
@eldada yes I do. I have gotten around the issue by moving the installation to ec2-instances where setup works correctly.
For the second problem though, I understand I can get Dockerfile and corresponding scripts from the container but why not put it up on a public repository so that it will be easier to check diff when you upgrade artifactory version.

[2018-10-05 11:09] esn89 commented on #74
I'm having the same problem here, that dir is not fou nd.

[2018-10-05 11:11] esn89 commented on #95
I have the same issue here.

I think it might be because of this:

[code]

[2018-10-05 13:46] esn89 commented on #74
can this please be pulled asap

[2018-10-05 13:54] esn89 opened #121 "s3 filestore: Failed to check if bucket exists."
[code]

Hi, I am getting this message when I try to use S3 as a filestore.

Here is my binarystore.xml:
[code]

I have checked that my instance profile has access to the bucket.  It seems to be able to connect, but it doesn't seem to write a test object into it.

Some assistance would be nice

THanks in advance

[2018-10-08 08:37] #113 closed

[2018-10-08 08:40] esn89 commented on #95
@eldada
Unfortunately, it is still failing:
[code]

[2018-10-08 08:43] eldada commented on #95
@esn89 - checking

[2018-10-08 08:49] eldada commented on #95
@esn89 - a small fix was committed. Can you check now?

[2018-10-08 08:52] eldada commented on #74
@esn89 - This should be fixed with the same fix used in https://github.com/jfrog/artifactory-docker-examples/issues/95. Can you confirm?

[2018-10-08 09:00] eldada commented on #120
Our Dockerfile is managed in our internal VCS, and we want to avoid managing duplicates. You can see it if you download the Artifactory OSS sources from bintray with

- Direct link: https://api.bintray.com/content/jfrog/artifactory/jfrog-artifactory-oss-$latest-sources.tar.gz;bt_package=jfrog-artifactory-oss-zip

[2018-10-08 13:48] matankatz commented on #121
To test if bucket exists requires specific permissions which are not relevant for read and write procedure.
If you want to bypass the existence check of the bucket, you can use the following attribute: 'testConnection=false'

`<provider id="s3" type="s3">
         <roleName>instance-profilerole</roleName>
         <endpoint>https://s3.eu-central-1.amazonaws.com</endpoint>
         <bucketName>my-b

[2018-10-08 14:21] esn89 commented on #74
It works, thank you!

[2018-10-08 14:43] #74 closed

[2018-10-08 17:46] esn89 commented on #121
Thanks @matankatz

This leaves me with a few more questions:
1)  How can I tell if my Artifactory install has access to s3?
2)  When it cannot test a connection to s3, does that mean my Artifactory will have no Cloud Store?
3)  Do you happen to know what those s3 permissions?  At the moment, I am giving it all permissions like so:

```s3:*```

Best regards

[2018-10-08 21:20] #120 closed

[2018-10-09 05:40] #95 closed

[2018-10-09 07:33] matankatz commented on #121
1. If you are not using the test connection phase, then you can just start Artifactory and upload a file for testing, and verify it does not exist in your eventual data folder in your local filesystem.
However, The optimal way to verify it works is to look in the bucket itself for the file, which will be its sha1.
2. No, The test connection is just another verification step. It can work also when

[2018-10-09 07:49] eldada commented on #121
@esn89 - since this issue is not relate to the docker examples, I'll close this.
As suggested by @matankatz, continue this if needed with **JFrog support** (support@jfrog.com).

[2018-10-09 07:49] #121 closed

[2018-10-09 18:04] Robyngithub opened #123 "ERROR: Directory /var/opt/jfrog/artifactory has bad permissions for user 'artifactory'"
How to give write permission -- please suggest

[2018-10-09 18:05] Robyngithub commented on #123
Preparing to run Artifactory in Docker
=====================================
2018-10-08 18:49:38   [44 entrypoint-artifactory.sh] Dockerfile for this image can found inside the container.
2018-10-08 18:49:38   [45 entrypoint-artifactory.sh] To view the Dockerfile: 'cat /docker/artifactory-oss/Dockerfile.artifactory'.
2018-10-08 18:49:38   [50 entrypoint-artifactory.sh] Checking open files and proc

[2018-10-09 18:15] jainishshah17 commented on #123
@Robyngithub Can you provide more detail about your environment? Which installer are you using compose/helm/kubernetes?

[2018-10-09 18:18] Robyngithub commented on #123
using docker-compose

artifactory-oss.yml

version: '2'
services:
  artifactory:
    image: docker.bintray.io/jfrog/artifactory-oss:latest
    container_name: artifactory
    ports:
     - 8081:8081
    volumes:
     - /opt/builder/softwares/artifactory:/var/opt/jfrog/artifactory
#    Add extra Java options by uncommenting the following lines
#    environment:
#     - EXTRA_JAVA_OPTIONS=-Xmx4g

[2018-10-09 18:21] jainishshah17 commented on #123
@Robyngithub Did you run `prepareHostEnv.sh` as mentioned in documentation? https://github.com/jfrog/artifactory-docker-examples/tree/master/docker-compose/artifactory#artifactory-oss

[2018-10-09 18:29] Robyngithub commented on #123
Not working ... command not running

[root@devops ~]# sudo ./prepareHostEnv.sh -t pro -c
sudo: ./prepareHostEnv.sh: command not found
[root@devops ~]# sudo ./prepareHostEnv.sh -h
sudo: ./prepareHostEnv.sh: command not found
[root@devops ~]# sudo ./prepareHostEnv.sh -t oss -c
sudo: ./prepareHostEnv.sh: command not found
[root@devops ~]#

[2018-10-09 18:36] jainishshah17 commented on #123
@Robyngithub I think you are not in the proper directory.  You need to run this script --> https://github.com/jfrog/artifactory-docker-examples/blob/master/docker-compose/artifactory/prepareHostEnv.sh

[2018-10-09 19:40] Robyngithub commented on #123
no luck i tried running the script for changing permission for the /var/opt folder.

[2018-10-09 19:54] Robyngithub opened #124 "34 entrypoint-artifactory.sh] ERROR: Directory /var/opt/jfrog/artifactory has bad permissions for user 'artifactory'"
not able to run artifactory by using docker compose due to write permission error.

docker-compose file

version: '2'
services:
  artifactory:
    image: docker.bintray.io/jfrog/artifactory-oss:latest
    container_name: artifactory
    ports:
     - 8081:8081
    volumes:
     - /opt/builder/softwares/artifactory:/var/opt/jfrog/artifactory
#    Add extra Java options by uncommenting the following

[2018-10-18 23:33] ypan887 opened #125 "Permission issue in deploying artifactory/nginx with the current tempalte. seccurityContext is missing."
While deploying with the template on kubernetes with the mounted pvc, you will hit permission issue.

[code]

It helped to add the following spec to the deployment template:

[code]

From the chart value, the uid for artifactory is 1030 and for nginx is 104
https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml

[2018-10-31 11:39] mpemer commented on #84
Did jfrog support provide a solution to this issue? If so, would you mind sharing it please?

[2018-10-31 23:07] walterdolce commented on #84
@mpemer I let Artifactory install the master.key by itself in the end. That solved the issue. I don't remember what JFrog's response was anymore, unfortunately.

[2018-11-07 10:54] michaelhuettermann opened #128 "Add feature to add and persist Nginx directive to auto-updated Nginx configuration"
see https://www.jfrog.com/jira/browse/RTFACT-16743

[2018-11-09 16:15] TJM opened #129 "Scary outdated java"
The java version in the artifactory-pro:latest (6.5.2 at this point) image is still OpenJDK 8 u131, from like 18 months ago. Please update the "FROM" line on Dockerfile.artifactory (actually all of them) to a more recent version.

~tommy

PS: I appreciate that the Dockerfile is embedded within the image, but it would be good if it were in a public facing repo (perhaps this one) so that we could su

[2018-11-09 22:54] TJM commented on #129
Example: https://github.com/TJM/artifactory-docker-examples/blob/standalone/standalone/Dockerfile

Also, for giggles, check out the Alpine Linux based Dockerfile:
https://github.com/TJM/artifactory-docker-examples/blob/standalone/standalone/Dockerfile.alpine

[2018-11-10 17:45] eldada commented on #129
@TJM - thanks for the feedback and examples. As you noted, the base versions are old and we are working on a more recent version. Also the Alpine is a great idea (already discussed internally), but there are customers not willing to use it, so we use a more accepted base. I hope we'll have more to share in the following weeks.

[2018-11-12 14:46] daniyalj opened #130 "OpenShift - Scaling up the nodes"
:wave:

I have successfully installed Artifactory running on OpenShift using the templates and have a primary and secondary node running. My question is, how do I scale up if I want to add a third node to the cluster?

[2018-11-12 14:50] TJM commented on #129
@eldada Thanks for the response! We can't use the currently published version due to all the security vulnerabilities in it. Please do update the base (FROM), and preferably, don't "COPY" zip files into the image. It would be best to convert them to .tar.gz and use "ADD" or just expand them and COPY the contents in. It *appears* that this is being built from the "source" dir (since its just standa

[2018-11-12 17:12] elioengcomp commented on #130
Hi @daniyalj ,

Thanks for your message.

Right now there is no scaling options in the current version of the templates. The shorter route to add a third node would be just copying the template files related to the secondary node, renaming them to avoid naming conflicts and adding them to the helper scripts.

The longer and more elegant route would be modifying the templates and adding support to

[2018-11-12 17:40] daniyalj commented on #130
Hi @elioengcomp would renaming and adding a third deployment config for an additional node be supported under the Enterprise license?

[2018-11-13 11:41] eldada commented on #129
Hey Tommy. We are already working on the new Java version. Should be in one of the coming releases.
All your comments are valid and make good sense. If there's a particular one you think should be pushed, go ahead and open a [JIRA](https://www.jfrog.com/jira/secure/Dashboard.jspa) ticket and our teams will evaluate it. You can also get some voters and help push a specific change you feel is import

[2018-11-14 15:38] daniyalj commented on #130
Perfect thank you!

[2018-11-14 15:38] #130 closed

[2018-11-14 17:20] elioengcomp commented on #130
You are welcome! ;)

[2018-11-16 21:24] daniyalj opened #133 "OpenShift run as non-privileged"
Hello!

Running Artifactory HA on OpenShift and I'm getting permission denied errors on the set-volume-ownership init containers. I added artifactory service account in the anyuid scc and it started working.

[2018-11-21 00:36] daniyalj commented on #72
Hitting the same issue in OpenShift 3.9. adding the service account artifactory to run as anyuid fixes the issue but not allowed in our environment.

[2018-11-25 06:04] eldada commented on #125
@ypan887 - the mounted volumes must have permissions to allow Artifactory user to read/write to them.
Can you add more details on your deployment process? Tools, scripts etc.

[2018-11-28 21:19] Flash1212 commented on #75
@mtdeguzis I know this is an old post, but where did you specify that label? Was it in the yml file or somewhere else?

[2018-11-29 14:22] TJM opened #134 "Xray Mesos DC/OS"
Has anyone already developed a Mesos DC/OS marathon configuration for Xray?

[2018-12-04 21:37] funixz opened #135 "404s when docker login against artifactory/docker-virtual"
Getting 404 error when attempting to hit either addresses provided by Artifactory within an OpenShift cluster..

Tried a login...

[code]

What's needed after a vanilla on-prem install of Artifactory HA, in order to serve the docker registry from it.?

[2018-12-10 17:22] daniyalj commented on #135
Running into the same problem. Seeing this in the logs for one of the pods:

[code]

This is after many attempts of doing docker login on the docker-virtual-artifactory route. I am also adding this to the insecure registry because I dont have certs in my cluster.

[2018-12-10 18:00] daniyalj commented on #135
The docker-virtual route is just a reference. It needs the specific repository to be present to work. I created a virtual repository called docker-artifactory and then logged in:

[code]

[2018-12-11 16:01] funixz commented on #135
works for me!

[2018-12-11 16:01] #135 closed

[2018-12-13 19:12] vagola opened #136 "Prepare script not working"
Ubuntu 18

[code]

[2018-12-14 00:18] eldada commented on #136
@vagola - what directory are you running this in? Trying to run the same in an ubuntu 18 VM:
[code]

[2018-12-14 14:35] Amdingo commented on #136
I get this same issue on 18.04, running from ~/artifactory/prepareHostEnv.sh

[2018-12-14 18:09] vagola commented on #136
@Amdingo ty

[2018-12-14 18:09] #136 closed

[2018-12-31 11:12] Mugenprime commented on #123
Hi any progress with this issue? I'm also running into the same issue running the script and also getting permission issues when deploying the docker-compose file.

[2018-12-31 11:20] eldada commented on #123
@Mugenprime - can you test this with Artifactory version 6.6.1? This version includes some improvements to the permissions tests.

[2018-12-31 12:37] Mugenprime commented on #123
Hi Eldada - I'm currently using the 6.6.1 images. Also when i run the prepareHostEnv.sh script i get the following error message:

sudo ./prepareHostEnv.sh -t pro -d ./data
Using a custom root data dir: ./data
./prepareHostEnv.sh: line 111: [: =: unary operator expected
Creating ./data
Copying needed files to directories
Artifactory configuration files
cp: cannot stat './../../files/access': No su

[2018-12-31 20:13] eldada commented on #123
I pushed a fix to the `[: =: unary operator expected`.
As for the `cp: cannot stat './../../files/access': No such file or directory` - I suspect you either don't have the full copy of the repository cloned or your directory structure is manipulated.
Make sure you have the latest sources and do not modify the tree structure.
And, as @jainishshah17 noted before - run the script from within the `REP

[2019-01-01 13:38] Mugenprime commented on #123
I've resolved the "cp: cannot..." issue however, I'm still having issues with folder permissions. I seem to be able to overcome some of the error messages by specifying the user in the compose yml file and setting it to root, but i then get a master.key file currently missing error. I've opted to go for named docker volumes and that seems to be working without any permission alterations. Are there

[2019-01-01 14:52] Mugenprime commented on #123
Thanks for the quick response. From my understanding using a container to host a database is not recomended for production usage. Is this the case with the current build of Artifactory?

[2019-01-01 15:13] eldada commented on #123
There is no guidance. The examples are provided as examples 😉
If the database app is in a container but the storage is a mounted volume (which is managed as production storage), IMHO this is a valid production scenario.

[2019-01-06 12:48] eldada commented on #78
Hi @hr1sh1kesh. Recent Artifactory versions already support pure non-root. You can see our [official helm charts](https://github.com/jfrog/charts) to see how it's used.
As for PostgreSQL, we still use an image/chart that does not support pure non-root. You can install the database yourself and pass it to Artifactory. See the documentation on how to set an external database.

[2019-01-06 12:48] #78 closed

[2019-01-06 12:50] eldada commented on #123
@Mugenprime - do you have any open issues or can we close this?

[2019-01-06 12:53] eldada commented on #62
@shrajfr12 - Can you open this in our [official helm charts repository](https://github.com/jfrog/charts)? The charts are not here anymore...

[2019-01-06 12:53] #62 closed

[2019-01-06 12:53] eldada commented on #70
@ankushchadha - can you open this in https://github.com/jfrog/charts ?

[2019-01-06 12:53] #70 closed

[2019-01-06 12:57] eldada commented on #72
Newest versions of Artifactory (6.6.X) now fully support custom user and group ids. This should solve this issue.
If an issue is still found, please open a new case with details. Note that our helm charts have moved to the [official jfrog helm charts repository](https://github.com/jfrog/charts) so if related to the charts - open the issue there.

[2019-01-06 12:57] #72 closed

[2019-01-06 13:00] Mugenprime commented on #123
@eldada - is there currently a resolution on with the permission issues with the image and user 1030?

[2019-01-06 13:14] eldada commented on #123
Yes. With Artifactory 6.6.X you should be able to.
You can pass a custom user/group ids to the container. In docker compose, you can add the `uid` and `gid`.
Docker run: `docker run .... --user 1234:4321`
Docker compose:
[code]

[2019-01-06 13:44] eldada commented on #123
Great. Update us on the results.

[2019-01-15 14:01] Beanow opened #137 "Running docker image fails to create master key"
The default settings don't use the documented volume to generate the master key.

Note it attempts to write to `/opt/jfrog/artifactory/etc/security` but should be `/var/opt/jfrog/artifactory/etc/security`.

[code]

Using stack file:
[code]

[2019-01-16 06:32] #119 closed

[2019-01-16 06:33] #123 closed

[2019-01-19 00:13] sanjeevkarani opened #138 "Compatibility of Xray on Openshift platform"
Missing documentation on Supported Openshift platform versions for Xray installation
Tested: Xray v2.5.1 installs on Openshift platform v3.9.x
               Xray v2.6.0 throws error on Openshift platform v3.9.x

[2019-01-19 01:43] jghankins commented on #123
Any update on your results?

[2019-01-19 16:02] eldada commented on #123
@Mugenprime do you have formal results?

[2019-01-19 17:36] eldada commented on #138
@jainishshah17 , @elioengcomp - guys can you take a look?
- Missing docs
- Why Xray 2.6.0 fails on OS 3.9.x

[2019-01-22 20:43] andriypotapov commented on #108
Having this in documentation or Q&A would have solved my problem.
[code]

[2019-01-23 09:13] aacebedo opened #139 "Unable to login with docker through traefik"
Hi all,

I am using the artifactory docker image 5.11 and I am unable to login when the container is behind the traefik reverse proxy (https://github.com/containous/traefik/).

I have configured the insecure option inthe docker daemon and when I execute the docker login command I received the following error:
"unable to decode token response: EOF"
If I try to map the container port 8081 to another

[2019-01-23 09:43] aacebedo commented on #139
When I compare the http request made by traefik with the request made directly by the docker client
The difference is that traefik adds a set of http headers (X-Forwarded-...). I don't know how to remove them and if they are the cause of the issue

[2019-01-25 18:37] mneeharika commented on #136
so, If i'm trying a new installation of Artifactory OSS, where do I get these ../../files directory? I'm also facing the same copy error while executing the prepareHostEnv.sh script.

[2019-01-25 18:49] Amdingo commented on #136
@mneeharika you have to clone the _entire_ repository and run the docker-compose file from its default location within the folder structure of the repository.

[2019-02-06 12:01] mneeharika commented on #136
Thanks @Amdingo ! That worked!

[2019-02-06 18:15] tjohnston-cd opened #142 "Postgres upgrade?"
I just upgraded from an Artifactory Pro 6.5.x version to 6.7.3 using [this compose file](https://github.com/jfrog/artifactory-docker-examples/blob/master/docker-compose/artifactory/artifactory-pro.yml).

`artifactory` and `nginx` came up correctly, but `postgresql` did not. `docker logs postgresql` showed **"The data directory was initialized by PostgreSQL version 9.5, which is not compatible with

[2019-02-07 00:02] sanjeevkarani opened #143 "Xray HA feature for Openshift platform"
Currently, Xray v2.5.1 can be deployed on Openshift v3.9.x
There is a request to support Xray HA feature on the platform

[2019-02-07 06:15] eldada commented on #142
Hi @tjohnston-cd . This repository is meant to provide examples for setting up Artifactory and Xray in various Docker based scenarios.
PostgreSQL upgrade is not required. We just aligned to a new (recommended) baseline of version 9.6.11. The older version will still work as expected.
If you wish to use the newer PostgreSQL version, you will need to perform a DB export from 9.5 -> import to 9.6.

[2019-02-07 19:44] sanjeevkarani commented on #138
Updates: Xray v2.6.3 installs on Openshift platform v3.10.83

[2019-02-07 23:08] jainishshah17 commented on #138
@eldada It requires to update OS templates as our installer has evolved.

[2019-02-13 22:25] marcuschaney commented on #123
I'm having this same issue trying to run Artifactory 6.7.3 using compose (stuck in the restarting loop). Error below:

 ###########################################################
 /var/opt/jfrog/artifactory DOES NOT have proper permissions for user 'artifactory' (id 1030)
 Directory: /var/opt/jfrog/artifactory, permissions: 755, owner: root, group: root
 Mounted directory must have read/write per

[2019-02-13 22:42] marcuschaney opened #144 "ERROR: Directory /var/opt/jfrog/artifactory has bad permissions for user 'artifactory' (id 1030)"
Having an issue trying to run Artifactory. Seems to be a known issue, but was supposedly fixed in the lastest release..error below:

 /var/opt/jfrog/artifactory DOES NOT have proper permissions for user 'artifactory' (id 1030)
 Directory: /var/opt/jfrog/artifactory, permissions: 755, owner: root, group: root
 Mounted directory must have read/write permissions for user 'artifactory' (id 1030)
 ####

[2019-02-14 06:57] eldada commented on #123
Will continue in #144

[2019-02-14 06:59] eldada commented on #144
Artifactory runs as user 1030:1030 by default. When passing a volume to the Artifactory container, this directory (on the host) must be writable by the Artifactory user.
To test and validate this, just `chmod 777 <host-dir>` on the host and try again.
Can you share the command or yaml used to deploy?

[2019-02-14 15:21] marcuschaney commented on #144
#  postgresql:
#    image: docker.bintray.io/postgres:9.6.11
#    container_name: postgresql
#    ports:
#     - 5432:5432
#    environment:
#     - POSTGRES_DB=artifactory
     # The following must match the DB_USER and DB_PASSWORD values passed to Artifactory
#     - POSTGRES_USER=${postgres_user)
#     - POSTGRES_PASSWORD=${postgres_password}
#    volumes:
#     - /data/postgresql:/var/lib/post

[2019-02-14 15:41] marcuschaney commented on #144
Found an article that mentioned "A workaround seems to be to set the user-id and group-id inside of the docker-compose.yml as described here."

user: "${UID}:${GID}"

Will try that.

[2019-02-14 15:50] eldada commented on #144
You need that the directory in the host `/data/artifactory` will be writable by user id 1030.
You can test it by just setting `chmod -R 777 /data/artifactory` and run again.

[2019-02-14 15:58] marcuschaney commented on #144
Thanks for the quick response. I tried that, but I get an "up less than a second" status but then it flaps and restarts.

docker.bintray.io/jfrog/artifactory-pro:6.7.3   "/entrypoint-artifac…"   Restarting (1) 1 second ago artifactory

[2019-02-14 16:01] eldada commented on #144
Can you share the error from `docker logs`? Is it the same?

[2019-02-14 16:01] marcuschaney commented on #144
Yep, it's the same:

 ###########################################################
 /var/opt/jfrog/artifactory DOES NOT have proper permissions for user 'artifactory' (id 1030)
 Directory: /var/opt/jfrog/artifactory, permissions: 755, owner: root, group: root
 Mounted directory must have read/write permissions for user 'artifactory' (id 1030)
 #######################################################

[2019-02-14 16:02] marcuschaney commented on #144
Testing directory /var/opt/jfrog/artifactory has read/write permissions for user 'artifactory' (id 1030)
2019-02-14T16:00:38.171581614Z /entrypoint-artifactory.sh: line 179: /var/opt/jfrog/artifactory/test-permissions: Permission denied

Missed that part of it.

[2019-02-14 16:07] eldada commented on #144
Something does not add up....
Let's try debugging in the following way:
1. On the host, run `ls -la /data/artifactory` and paste the output here.
2. Start the artifactory container with entrypoint override: `docker run -it --entrypoint bash -v /data/artifactory:/var/opt/jfrog/artifactory docker.bintray.io/jfrog/artifactory-pro:6.7.3`
3. In the container's prompt run `ls -la /var/opt/jfrog/artifact

[2019-02-14 16:13] marcuschaney commented on #144
[root@ip-10-11-179-82 artifactory]# ls -la /data/artifactory
total 0
drwxrwxrwx. 10  777 artifactory 129 Feb 14 15:50 .
drwxr-xr-x.  3 root root         25 Feb 13 17:53 ..
drwxrwxrwx.  3  777 artifactory  17 Feb 14 15:50 access
drwxrwxrwx.  2  777 artifactory   6 Feb 14 15:50 artifactory_extra_conf
drwxrwxrwx.  2  777 artifactory   6 Feb 14 15:50 backup
drwxrwxrwx.  2  777 artifactory   6 Feb 14 1

[2019-02-14 16:47] marcuschaney commented on #144
docker ps
1779b6d32b88        docker.bintray.io/jfrog/artifactory-pro:6.7.3   "bash"                   33 minutes ago      Up 33 minutes                  8081/tcp            priceless_br
dffd4965630b        docker.bintray.io/jfrog/artifactory-pro:6.7.3   "/entrypoint-artifac…"   About an hour ago   Restarting (1) 9 seconds ago                       artifactory

[2019-02-14 18:36] eldada commented on #144
Looks like something is wrong with the permissions on `/data/artifactory`. The user id set is 777. What command did you use to set the permissions on `/data/artifactory`?

[2019-02-14 19:49] marcuschaney commented on #144
[root@ip-10-11-179-82 centos]# \ls -la /data/artifactory
total 0
drwxrwxrwx. 10 artifactory artifactory 129 Feb 14 15:50 .
drwxr-xr-x.  3 root        root         25 Feb 13 17:53 ..
drwxrwxrwx.  3 artifactory artifactory  17 Feb 14 15:50 access
drwxrwxrwx.  2 artifactory artifactory   6 Feb 14 15:50 artifactory_extra_conf
drwxrwxrwx.  2 artifactory artifactory   6 Feb 14 15:50 backup
drwxrwxrwx.

[2019-02-15 16:29] marcuschaney commented on #144
So, after creating a sub directory for /data/artifactory/  (/data/artifactory/artifactory_extra_conf) then binding that to /var/opt/jfrog/artifactory, I was able to successfully run Artifactory..

Now trying to figure out a web UI access issue.

[2019-02-15 17:24] jainishshah17 commented on #144
@marcuschaney Can you check browser's developer tool console and let us know what error you get for UI?

[2019-02-15 20:21] marcuschaney commented on #144
Current status:
0.0.0.0:8181->8081/tcp (docker ps)

tcp6   0     0 :::8181   :::*   LISTEN      12221/docker-proxy (netstat -tlpn)

Configs:
version: '2'
services:
  artifactory:
    image: docker.bintray.io/jfrog/artifactory-pro:6.7.3
    container_name: artifactory
    ports:
     - 8181:8081
    volumes:
     - /data/artifactory/artifactory_extra_conf:/var/opt/jfrog/artifactory
    environment:

[2019-02-17 07:49] eldada commented on #144
@marcuschaney - are you sure Artifactory started up properly?
Go in to the `artifactory` container and try `curl -L http://localhost:8081/artifactory`.
If that's ok, it's surely a local Docker networking issue.
I tried your yaml example and it works for me.

[2019-02-19 00:02] deeco commented on #144
+ 1 for adding to docker compose file user: "${UID}:${GID}"

artifactory:
    image: docker.bintray.io/jfrog/artifactory-oss:latest
    user: "${UID}:${GID}"

works after adding to docker compose file

[2019-02-19 06:33] eldada commented on #144
@deeco - users might not want to run the Artifactory as their own user id and might actually opt for a dedicated service account. So this is a great idea for local examples, but might mess up production setups.
I agree this option should be made visible. How about adding it commented out with an explanation for it?

[2019-02-19 11:48] subham371 commented on #144
Came across the same issue a few days earlier, found that it was caused by Selinux, not allowing the volume mount.
Executing the following command, resolved the issue for me:

chcon -Rt svirt_sandbox_file_t </path/to/volume/on/docker/host>

[2019-02-19 12:00] subham371 opened #145 "ha propagation error on non-primary nodes"
I am getting the following error on the non-primary nodes, I am new to artifactory ha setup any help with regards to this will be appreciated.

[code]

[2019-02-19 14:38] eldada commented on #145
@subham371 - please provide some details on the way you set up this environment. A way for us to reproduce.
Are you using the examples from this repository?
The error `Unexpected character ('<' (code 60))` seems to hint something in the configuration is messed up.

[2019-02-20 01:01] marcuschaney opened #146 "[ERROR] (o.a.w.s.ArtifactoryFilter:194) - Artifactory failed to initialize: Context is null"
{
  "errors" : [ {
    "status" : 500,
    "message" : "Artifactory failed to initialize: check Artifactory logs for errors."
  } ]
}

After attempting to configure the binarystore.xml to utilize my S3 bucket: Config below:

<chain template="s3">
<provider id="s3" type="s3">
<endpoint>http://s3-us-gov-west-1.amazonaws.com</endpoint>
<region>us-gov-west-1</region>
<roleName>XXX-EC2Role</roleName>
<

[2019-02-20 01:02] marcuschaney commented on #146
As soon as I changed the binarystore.xml file back to :+1:
<config version="1">
    <chain template="file-system"/>
</config>

Artifactory came up just fine. Thus, I know I must be doing something wrong with my config.

[2019-02-20 21:38] marcuschaney commented on #146
Trying to make this happen:

https://www.jfrog.com/confluence/display/RTF/S3+Object+Storage#S3ObjectStorage-AutomaticFilestoreMigration(Recommended)

[2019-02-21 00:02] marcuschaney commented on #146
Resolved.

[2019-02-21 00:02] #146 closed

[2019-03-19 20:12] marcuschaney opened #147 "Please provide a master key file manually in '/opt/jfrog/artifactory/etc/security/master.key'."
I'm running Artifactory via docker-compose and attempting to link to an external Postgres database. I continue to encounter "master key" related issues when trying to run Artifactory.

"- Found existing master key fingerprint in the DB, without master.key file. Please provide a master key file manually in '/opt/jfrog/artifactory/etc/security/master.key'."

As anyone ever experienced this?

[2019-03-19 21:12] marcuschaney commented on #147
[JFrog-Access] [WARN ] (o.s.b.c.e.AnnotationConfigEmbeddedWebApplicationContext:550) - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.ApplicationContextException: Unable to start embedded container; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframework.b

[2019-03-20 07:02] eldada commented on #147
@marcuschaney - it looks like you have connected to an existing DB (that was already setup by Artifactory) with a new Artifactory deployment (or did not persist file system from a previous deployment).
When Artifactory starts, if master key is not in the DB, it will use existing key or create a new one and then register it in DB and any future connections will use this key for validation (comparin

[2019-03-20 15:12] marcuschaney commented on #147
@eldada Thank you for your reply! After replacing my previous RDS Postgres instance, I attempted to run a new container, and now I'm receiving the below error:

artifactory    | Mar 20, 2019 2:57:47 PM org.apache.catalina.core.StandardContext startInternal
artifactory    | SEVERE: One or more listeners failed to start. Full details will be found in the appropriate container log file
artifactory

[2019-03-20 15:36] marcuschaney commented on #147
@eldada If I'm doing an external database, where do I map the port? Just under "artifactory"? Copy of my docker compose file is below:

version: '2'
services:
  artifactory:
    image: docker.bintray.io/jfrog/artifactory-pro:6.7.3
    container_name: artifactory
    ports:
     - 8081:8081
    volumes:
     - /data/artifactory/artifactory_extra_conf:/artifactory_extra_conf
    environment:
     -

[2019-03-20 17:45] marcuschaney commented on #147
type=postgresql
driver=org.postgresql.Driver
url=jdbc:postgresql://xxxxxxxxxxxxxxxxxs-gov-west-1.rds.amazonaws.com:5432/artifactory
username=artifactory
password=fxxxxxxxxx

Is the above syntax correct for the db.properties file?

[2019-03-20 18:08] marcuschaney commented on #147
More:

artifactory    | 2019-03-20 18:06:41.576  INFO 303 --- [ost-startStop-2] o.j.a.s.startup.AccessHomeFinderImpl     : Using JFrog Access home at '/opt/jfrog/artifactory/access' resolved from: System property (Artifactory)
artifactory    | 2019-03-20 18:06:42.006  INFO 303 --- [ost-startStop-2] o.j.a.migration.ConfigMigrationRunner    : Current version of Access Home is 3, latest version is 4.

[2019-03-20 21:46] marcuschaney commented on #147
Accessed the localhost log in the container and this seems to be the root cause (cannot connect to DB)

20-Mar-2019 21:34:07.727 SEVERE [localhost-startStop-1] org.apache.catalina.core.StandardContext.listenerStart Exception sending context initialized event to listener instance of class [org.artifactory.webapp.servlet.ArtifactoryHomeConfigListener]
 java.lang.RuntimeException: Could't establish c

[2019-03-20 21:58] marcuschaney commented on #147
Progress after changing the database name from /artifactory to /artifactorytestdb (which is what the instance is named in AWS. Now I get the below:

artifactory    | INFO: Starting ProtocolHandler ["ajp-nio-8019"]
artifactory    | 2019-03-20 21:54:10,774 [art-init] [INFO ] (o.a.s.ArtifactoryApplicationContext:503) - Artifactory application context set to NOT READY by refresh
artifactory    | 2019-

[2019-03-21 06:36] eldada commented on #147
@marcuschaney - can you contact our support with this? I think that you'll get a better response and help there. support@jfrog.com.
Update this thread with the findings.

[2019-03-22 15:22] marcuschaney commented on #147
The lastest issue was due to a size limitation for the /var directory. Resized and was good to go:

lsblk
growpart /dev/xvda 2
pvresize /dev/xvda
lvexted -L +2G /dev/mapper/VolGroup00-varVol
resize2fs /dev/mapper/VolGroup00-varVol

[2019-03-22 15:22] #147 closed

[2019-03-23 15:38] eldada commented on #147
Thanks for updating @marcuschaney! Happy it's resolved.

[2019-03-27 15:36] daniyalj commented on #144
running into the same issue on openshift. the init-container setting permissions for 1030:1030 get permission denied

[2019-03-27 15:37] daniyalj commented on #133
Any update on this?

[2019-04-01 07:04] eldada commented on #129
I'm happy to update that Artifactory 6.9.0 now comes with Java 11 based on the [distroless](https://github.com/GoogleContainerTools/distroless) base image.
This also dramatically reduced the size of the image.

[2019-04-01 14:24] TJM opened #151 "Docker container for artifactory-pro has two copies of artifactory"
I realize you are probably building the docker image from an artifactory "source" directory, but currently your docker images are inefficient due to the:

[code]

... line. That file is later unzip'd and removed, but because it was copied in, the file is still part of the image. You could probably optimize that by "downloading" the zip file, then unzipping and removing it all in one "layer" (in on

[2019-04-01 14:26] TJM commented on #129
@eldada - Thanks for your efforts, but it does not appear to be in 6.9.0.

[code]

[2019-04-01 14:52] eldada commented on #129
Oooppssss.... I messed it up with an internal version, which will be released soon. sorry for the confusion.

[2019-04-01 15:04] TJM commented on #151
A tool that we have been using lately on our docker images is "dive"

https://github.com/wagoodman/dive

[code]

[2019-04-03 05:56] eldada commented on #151
@TJM - we are aware of this and have plans to improve this in the future.
BTW - I also love the `dive` tool. Very useful!

[2019-04-03 13:45] TJM commented on #151
So, if you build the Docker image outside of the application build, you can just download it directly from the release repo. This was the "solution" I used when I was working around #129 .

As I mentioned in that issue, the best solution (in my opinion) is probably to create a .tar.gz instead of or in addition to the .zip during the build. That way you can use "ADD" instead of "COPY" and just skip

[2019-04-05 10:05] Beanow commented on #137
I believe the issue here lies with the Azure file storage. It uses smb/cifs under the hood and has incomplete support for file permissions.

[2019-04-09 12:41] PtyMatt commented on #142
@tjohnston-cd (and everybody else stucked by a Docker Postgresql upgrade), you should read [that discussion](https://github.com/docker-library/postgres/issues/37) from the official image repo.

[2019-04-09 13:23] PtyMatt opened #153 "Artifactory 6.9.1 / 6.10.0 : "failed to register layer" when pulling the new image with user-namespace enabled in Docker conf"
When [user namespaces](https://docs.docker.com/v17.09/engine/security/userns-remap/) are enabled in the Docker daemon (version 18.09.4), I have the following error when I pull the new 6.9.1 image:

[code]

This [post](https://circleci.com/docs/2.0/high-uid-error/) fully describes the (probable) problem:

From this [other discussion](https://discuss.circleci.com/t/error-processing-tar-file-exit-sta

[2019-04-09 19:27] fritzdj opened #154 "Artifactory 6.9.1: apt-get not found"
When using docker.bintray.io/jfrog/artifactory-pro:6.9.1, we are seeing `apt-get not found` errors when attempting to run apt-get cmds. There are some examples using apt-get (https://github.com/jfrog/artifactory-docker-examples/blob/master/dc-os/Docker/HA/Dockerfile) with 6.9.1, but this looks to not be working anymore after 6.9.0.

[2019-04-10 05:28] eldada commented on #153
@PtyMatt - I was not able to reproduce this on my mac or an Ubuntu VM I have.
Might it be something local in your env? Can you describe it?

[2019-04-10 09:09] PtyMatt commented on #153
Strange, I've tested on Debian 9 and Ubuntu 18.04, same problem.

The filesystem is `ext4`.

[code]
For the `subuid` and `subguid`, there was two users created before installing and configuring Docker on my Debian (so 100000+2×65536 = 231072). On my Ubuntu only one (so the subuid is 100000+1×65536 = 165536). Some maths to say that the value doesn't matter! (it's just > 100000)

[code]

I looked fo

[2019-04-11 13:30] rismoney opened #155 "guidance about running in ecs"
I am trying to understand how to run artifactory in ECS.  Specifically, I am confused if nginx is required on the latest artifactory.

Seems I can solve this

 A key point I see in setup, is the ART_BASE_URL.  In a case where docker is running in bridged mode, each container will have an internal ip address. (172.16.x.x).  Am I setting the hostname of the ecs instance to artifactory?   do I need s

[2019-04-15 21:37] daniyalj opened #156 "Postgres authentication error when using different combination of passwords for artifactory HA"
## Platform

OpenShift

## Version

Artifactory HA 6.9.0

## Problem

Whenever I am setting a different postgres password other than "artifactory/password" I am getting an authentication error. I have tried many different combinations of password for postgres and none get set in db.properties file.

Error I am getting:

[code]

When I set the postgres password as username "artifactory" and passwor

[2019-04-15 21:43] daniyalj commented on #156
The `DB_PASSWORD` env var is also getting completely ignored. If I take a look at the db.properties file in /opt/jfrog/artifactory/etc/ the postgres username and password are set as artifactory and password no matter what I set as DB_USERNAME and DB_PASSWORD

[2019-04-16 21:19] rismoney commented on #155
Alright - I got this working.   I needed to add a few things.

The nginx container link to the artifactory container
a DNS name on artifactory container set to artifactory
Nginx now starts, and uses /etc/hosts to resolve artifactory

I am going to publish a reference on how I made the entire solution work in the next couple of weeks.

[2019-04-16 21:19] #155 closed

[2019-04-18 05:46] jc-lab opened #157 "createPermission failed exception (artifactory-pro-mysql:6.9.1)"
[code]

[2019-04-18 12:55] eldada commented on #154
The new Artifactory Docker image (6.9.1) has a new base image, which is not based on Debian (that was coming with the openjdk image).
The new base image is made with the [google distroless](https://github.com/GoogleContainerTools/distroless) framework.
You can find our sources in our [jfrog-distroless repository](https://github.com/jfrog/jfrog-distroless).

[2019-04-18 12:57] eldada commented on #129
Now we have it... Artifactory 6.9.1 has a new base image and Java 11.

[2019-04-18 12:57] #129 closed

[2019-04-18 12:59] eldada commented on #156
@daniyalj - can you make sure you run a clean setup without leftover old storage?
Can you provide steps to reproduce?

[2019-04-18 13:07] #142 closed

[2019-04-18 13:08] eldada commented on #75
@mtdeguzis - is this still relevant?

[2019-04-18 13:09] eldada commented on #86
@aram535 - is this still relevant?

[2019-04-18 13:28] eldada commented on #157
@jc-lab - can you provide steps to reproduce this?

[2019-04-18 13:45] jc-lab commented on #157
1. rebulid artifactory-pro with mysql driver (same README.md)
2. edit artifactory.yml (mysql driver)
3. kubectl apply -f artifactory-storage.yml
4. kubectl apply -f artifactory.yml

I did not modify anything other than the driver settings.

[2019-04-18 14:01] aram535 commented on #86
@eldada AFAIK it's still a manual change and you have to change the "auto-generate nginx config" in the app.  Other than that it works.

[2019-04-18 14:34] mtdeguzis commented on #75
@eldada not sure what you are asking for, SELinux is always relevant :) As I am not the original reporter of this issue, I wouldn't be of more help than presenting test results from a RHEL-based system.

[2019-04-20 18:27] eldada commented on #157
@jc-lab - Seems we have some gaps here. These examples are not updated with some changes we introduced with Artifactory in the last versions.
First, for Kubernetes, I suggest you move to using our [official helm charts](https://github.com/jfrog/charts). These are our official charts and are also kept up to date with Artifactory (and other products) changes.
You can also convert the helm chart to a

[2019-04-20 18:42] eldada commented on #75
Opps - sorry @mtdeguzis . I meant to ask @wcott .
@wcott - is this still relevant?

[2019-04-20 22:52] jc-lab commented on #157
@eldada

helm also same problem...

[code]

[code]

[2019-04-21 06:00] eldada commented on #157
@jc-lab - let's move this to our [helm charts repo](https://github.com/jfrog/charts) as a new issue (and close this one here). Just add your last comment with the command and output using helm.

[2019-04-21 07:04] eldada commented on #157
This issue is now discussed in https://github.com/jfrog/charts/issues/317. Closing here.

[2019-04-21 07:04] #157 closed

[2019-04-22 00:21] fritzdj commented on #154
Thanks for the info @eldada. Dockerfiles like https://github.com/jfrog/artifactory-docker-examples/blob/master/dc-os/Docker/HA/Dockerfile will need to be refactored now, correct? This is something we'll need to investigate - please let me know if you have a workaround for that one.

[2019-04-22 05:19] eldada commented on #154
@fritzdj - I update the Dockerfiles to use `wget` instead of `curl`. I also removed the `apt-get install` as it seems we don't use its tools anyway.
Are you able to test this?

[2019-04-22 15:22] chiponn opened #159 "Document issues - Need to specify that upgrades for Postgres are not supported"
In version < 2.8.0 of Xray we used Postgres version 9.5.2, however in version 2.8.0 we use Postgres 9.6.11.

Please note that if you upgrade Xray and also change the Postgres, and then run Xray, it will fail as it does not really upgrade Postgres.

This needs to be documented so users that use docker-compose in production will not trust the examples.

[2019-04-22 15:58] daniyalj commented on #156
Create postgres database with the following params:

[code]

_Note_: The username and password above are base64 encoded (username123 and password123)

Deploy artifactory HA 2 nodes with the following configuration:

[code]

Check the logs on the artifactory pod:

[code]
If you navigate to the artifactory pod and look at the db.properties the values of the db username and password do not change:

[

[2019-04-22 21:09] fritzdj commented on #154
@eldada, we have another need to run `apt-get install python-pip -y && pip install awscli`. We are using this to decrypt the encrypted PW for the DB ID at runtime.

[2019-04-23 05:35] eldada commented on #154
@fritzdj - Since the new base image for Artifactory is tightened to exclude a lot of common OS packages and libs, you will have to "self bake" this.
I suggest you work with `wget` to download the binaries needed for `python`, `pip` and `awscli`. AFAIK, they can all be downloaded directly as binaries bundles. Once downloaded, you have `tar` and `unzip` to extract.

[2019-04-23 09:33] elig commented on #154
@fritzdj - I have added a few examples, hope it will help...

[2019-04-23 10:20] eldada commented on #154
Examples can be found in https://github.com/jfrog/jfrog-distroless/tree/master/customize-example

[2019-04-26 15:04] #133 closed

[2019-04-26 15:53] daniyalj opened #160 "Increasing number of replicas of pods for Artifactory causes crashes"
## Platform

OpenShift

## Artifactory Version

6.9.0 Artifactory HA

## How to Replicate

- Deploy Artifactory HA on OpenShift
- Increase number of pod replicas to more than 1
- The new pod comes up as " Not Ready " till it crashes
- This also causes the first pod to crash
- Logs have traces of memory leak

## Logs

[code]

This is a big problem specially as we take this to production. If the und

[2019-04-26 18:27] joshbranham commented on #144
Just a heads up here I ran into this same issue. In my case I had a restore tar file/folder inside `/var/opt/jfrog/artifactory` that was owned by root. This script really should only look at what it cares about and not other files/folders?

[2019-04-26 18:30] daniyalj commented on #144
Think this issue is good to close. I've done iterative testing of the deployment and I havent seen it after #148

[2019-04-27 18:42] eldada commented on #144
I'm closing this. If anyone still has a problem, please open a new issue with the specific scenario. Thx.

[2019-04-27 18:42] #144 closed

[2019-04-30 22:01] daniyalj commented on #160
any update on this?

[2019-05-01 05:26] eldada commented on #160
@daniyalj - we don't have an update here. These templates are not up to date.
Would you consider using our [official helm charts](https://github.com/jfrog/charts) as a base for the OpenShift deployment?
There are a few ways to use helm as the basis for your OpenShift templates:
- https://www.ibm.com/blogs/bluemix/2019/03/deploying-helm-charts-on-openshift/
- https://blog.openshift.com/from-templat

[2019-05-02 16:39] hplatou commented on #153
Same problem here running on Azure web app.

[2019-05-07 09:06] PtyMatt commented on #153
@eldada I still have the problem even with the new 6.10.0 version :/

Is there any new lib added since the v 6.9.1 that may cause the remapping failure?

Also, are you sure you have `userns-remap` set in your docker conf when you tested?

[2019-05-07 12:06] PtyMatt commented on #153
Oh, this may explain the problem:

_Originally posted by @eldada in https://github.com/jfrog/artifactory-docker-examples/issues/154#issuecomment-484495081_

[2019-05-07 14:10] eldada commented on #153
@PtyMatt - I did not have `userns-remap` set.
Indeed - the new new image is totally different, and might be the cause of the issue.
Look at the issue https://github.com/GoogleContainerTools/distroless/issues/313 and see if the proposed solution fixes it.

[2019-05-07 16:13] PtyMatt commented on #153
@eldada the issue you mentionned was a good start :)

If you have access to the `/etc/subuid` and  `/etc/subgid` files of your hypervisor, you "just" have to increase the range of ids Linux will allow for the remaped Docker user from 65536 to 321851969 (the 321851968 from the error message + 1, you may need to adapt) and it works for me then.
But this is an **abnormal huge number**, and may cause

[2019-05-07 21:52] daniyalj commented on #160
@eldada I deployed using the helm charts and they seem to work ten folds better than these openshift templates. Our team has been testing artifactory on openshift for a couple of months now. I think it is safe to deprecate these deployment configs and move to the stateful sets. It will be beneficial for the next person that comes in and tries to experiment with these.

[2019-05-07 21:52] #160 closed

[2019-05-08 05:42] eldada commented on #153
Thanks @PtyMatt . We'll look into this.

[2019-05-12 16:26] elig commented on #153
Looks like the problem was caused because of the env bazel was running on, build env was fixed + added tests to verify U/G root owner on the experimental added tars
https://github.com/jfrog/jfrog-distroless/commit/ca6d4685593f31f0b02b4aeda2e1220a60b92ee1

You can verify by trying to pull docker.bintray.io/jfrog/distroless/base/artifactory-java:adoptopenjdk11-16 and we will update our base image in

[2019-05-15 06:45] #153 closed

[2019-05-21 00:45] csullivannet commented on #153
Since this ticket is closed, is there somewhere else we can track this issue being resolved?

[2019-05-21 09:48] eldada commented on #153
A version with the fix is planned to be released in the near future.

[2019-05-22 15:09] ducttapecoder-vt commented on #75
@eldada Absolutely. I just ran into this issue and it's not documented at all with the instructions. I had to add :z for the artifactory and nginx mounts to get the container to start successfully.

[2019-05-26 04:54] eldada commented on #75
Anyone up to submitting a pull request 😄?

[2019-06-07 17:42] guilhermelac001 opened #161 "CrashLoopBackoff error when I use my own artifactory image and deployment"
I've beem trying to configure artifactory-oss so I can set admin password upon creating the container and linking to google binary storage. I'm using k8s so I used kompose to translate between docker-compose and kubernetes deployment. I have my own artifactory image on gcp and that is the one I use while creating the pod.

The problem that i'm having is that all my container works, but the artifac

[2019-06-09 17:35] #154 closed

[2019-06-19 12:56] PtyMatt commented on #153
good for me since 0cf829e0f05cdc9a92e62ba413318eb2ecee446d

[2019-06-28 09:58] johnny445 commented on #146
{
  "errors" : [ {
    "status" : 500,
    "message" : "Artifactory failed to initialize: check Artifactory logs for errors."
  } ]
}

[2019-06-28 09:59] johnny445 commented on #146
I'm getting this error anyone please tell me how to solve this

[2019-06-28 17:15] asinvrer commented on #146
Nice nice

On Fri, Jun 28, 2019, 2:59 AM johnny445 <notifications@github.com> wrote:

[2019-06-28 17:15] asinvrer commented on #146
Nice Nice

[2019-06-29 09:58] johnny445 commented on #146
![artifact](https://user-images.githubusercontent.com/45600458/60382558-47a60780-9a82-11e9-970f-84bc054536d8.jpg)
I'm facing this error anyone please tell me what mistake I have done?

[2019-06-29 18:21] eldada commented on #146
@johnny445 - can you provide steps to reproduce? Also - I suggest opening this in a new issue to get better traction.

[2019-07-02 15:33] michaelhuettermann commented on #128
Without this feature (or maybe it is a bug fix?), and without you implementing RTFACT-16743, using your Docker Compose based approach is not possible in practice, respectively does not make much sense  (e.g.: auto-updating disabled *and* using the port method for Docker (still pretty spread these days) lead to a maintenance nightmare)

[2019-07-29 20:46] scottrus opened #163 "docker-compose for 6.11.3 is missing"
Will we get a docker compose update for 6.11.3? Currently this is at 6.11.1.

[2019-07-30 06:36] katzefudder opened #164 "Xray HA in Docker"
With Artifactory HA available [here](https://github.com/jfrog/artifactory-docker-examples/blob/master/docker-compose/artifactory/artifactory-ha.yml), there's no example Docker compose file for running Xray as an HA cluster. Can you please provide an example `xray-ha.yml`?

[2019-07-31 11:35] eldada commented on #164
Setting up Xray HA with Docker compose is a bit more complex as you have to setup the RabbitMQ clustering.
We will release a formal Docker compose HA for Xray with the next major release of Xray in a few months.

[2019-07-31 12:26] katzefudder commented on #164
I know it's a bite more complex to have a generic docker-compose.yml to rule all use cases, especially when it comes to spin up a cluster.
Please have a look at my PR:
https://github.com/jfrog/artifactory-docker-examples/pull/166

[2019-07-31 19:18] asinvrer commented on #164
Stop bitches

On Wed, Jul 31, 2019, 5:26 AM Florian Dehn <notifications@github.com> wrote:

[2019-08-01 12:37] marcuschaney opened #167 "Using NFS (GlusterFS) with Artifactory"
Good Morning,

I'm having an issues trying to mount GlusterFS to my Artifactory container. Do you all have any examples of how to mount NFS to a container, via Compose?

V/r
Marcus

[2019-08-01 16:03] marcuschaney commented on #167
Copy of my config is attached.

volumes:
  art-mount:
    driver: local
    driver_opts:
      type: none
      device: /var/opt/jfrog/artifactory/data
      o: bind
services:
  artifactory:
    image: 5f86c7980758
    container_name: artifactory
    ports:
     - 8081:8081
    volumes:
     - /data/artifactory/artifactory_extra_conf:/artifactory_extra_conf:Z
     - /usr/lib/jvm/java-1.8.0-openjdk

[2019-08-06 10:11] cytim commented on #156
@daniyalj I had the exact same problem and found a workaround.

Assume I mounted my local directory `/my/local/path/to/artifactory` to the container `/var/opt/jfrog/artifactory`.

1. Remove the container `docker rm -f artifactory`.
2. Edit `/my/local/path/to/artifactory/etc/db.properties` directly to setup the correct password.
2. Run the image again.

[2019-08-06 12:54] katzefudder commented on #164
@eldada what do you think about my approach?

[2019-08-08 16:58] daniyalj commented on #156
Yeah that might be a little tricky to do in a k8s environment. I ended up using the helm chart for artifactory on OpenShift and it is much much more stable. Im not even sure why this repo exists.

[2019-08-23 00:38] SamD opened #168 "Unable to list tags with docker-compose deployed Artifactory (embedded Tomcat)"
I'm able to list using catalog e.g.
[code]

However, trying to list tags I keep getting
[code]

[2019-09-02 11:40] #163 closed

[2019-09-02 12:49] matankatz commented on #168
Hi SamD
Please note the wrong url:
You sent:

While it should be:

(v2 and repository name are misplaced)

[2019-09-02 23:20] SamD commented on #168
Ok thanks, hmmm I thought I had found the sample I used from your docs. as a result of a Google search, perhaps not.

[2019-09-04 19:43] SamD commented on #168
Hmmm still unable to get this work, I keep getting either it is unable to locate the repository name or not found

[2019-09-11 12:00] SnorreSelmer opened #174 "Upgraded xray docker-stack 2.8.9 to 2.9.0, and now I get "error token exchange" because of "405 Method not allowed""
`[2019/09/11 11:49:34 UTC] [EROR] (jfrog.com/xray/pkg/access/access_sso.(*AccessSsoClient).ExchangeToken:73) Failed to exchange token , err: statusCode: 405,
 models.AccessError{Code:"", Message:"Method Not Allowed", Detail:""}
[2019/09/11 11:49:34 UTC] [EROR] (jfrog.com/xray/internal/handlers/auth.AuthHandler.SsoExchange:343) statusCode: 405,
 models.AccessError{Code:"", Message:"Method Not Allow

[2019-09-11 14:53] eldada commented on #174
Can you share the commands used to apply the upgrade?

[2019-09-11 15:35] asafambar commented on #174
What was changed in the setup?
One option can be a reverse proxy that translated the Method to the request between Xray<>Artifactory.
e.g
POST translated to GET

Please provide more information on the installation.

[2019-09-12 07:34] SnorreSelmer commented on #174
I installed the Artifactory and XRay stacks as per the instructions on this site, on CentOS 7. All required folders were created with the right permissions.

artifactory-pro: 6.12.1
xray: 2.8.9

I'm unable to use git on the server in question, so all scripts were copy-pasted in. Also, two modifications were made to the docker-compose file:
- First I removed the exposing of PostgreSQL to the host.

[2019-09-12 13:58] asafambar opened #175 "."

[2019-09-12 13:58] #175 closed, assigned to nobody

[2019-09-13 07:56] SnorreSelmer commented on #174
`20190913064224|55|REQUEST|[my IP]|anonymous|POST|/ui/auth/login|HTTP/1.1|200|60
20190913064224|25|REQUEST|[my IP]|admin|GET|/ui/auth/redirect|HTTP/1.1|200|0
20190913064224|1|REQUEST|[internet proxy server address]|non_authenticated_user|GET|/api/system/gateway/openid/token|HTTP/1.1|405|0
`
Frustrating and a bit embarrassing, but the problem has been found and resolved.

When we set up the reverse

[2019-09-13 07:56] #174 closed

[2019-09-13 08:45] eldada commented on #174
Happy it's resolved @SnorreSelmer !
We are always happy to help.

[2019-10-01 00:59] SterlingSC86 opened #176 "Production Support"
Hi guys,

In the documentation for the docker-compose examples you specifically say:
IMPORTANT: The files under the files directory included in this repository are for example purposes only and should NOT be used for any production deployments!

Are you able to provide more info here? Is it just the self-signed certificates or are there ther concerns using this example to run Artifactory?

[2019-10-01 17:32] eldada commented on #176
Hi @SterlingSC86. The purpose of this repository is to provide easy templates and examples of running Artifactory in various Docker setups. Standalone Docker and Docker compose.
The provided `files` directory has some resources used to make the examples work out of the box. But - since they have SSL/TLS keys, you should not use these files in any production env and replace them with your own.
Only

[2019-10-02 01:58] SterlingSC86 commented on #176
Thanks for the reply! Thats great!

[2019-10-02 04:32] #176 closed

[2019-11-08 13:25] ShreyasNBS commented on #145
@subham371 @eldada Did you manage to resolve this? I am getting same error

[2019-11-08 19:58] rbjorklin commented on #174
@SnorreSelmer could you provide some more details on your header rewrites? We're seeing a very similar issue and we're currently suspecting our reverse-proxy as well. We're using Haproxy so if you are too any suggestions would be greatly appreciated!

[2019-11-10 19:51] SnorreSelmer commented on #174
Not using HAProxy, just a standard Apache reverse proxy. The header-rewrites we used were the same as are recommended in the JFrog documentation.

[2019-11-27 19:15] justin-cn-to commented on #145
We ran into a similar issue, and we were able to resolve it by setting up the `ha-node.properties` properly.

`context.url` should be set to `http://<private ip>:8081/artifactory`
and
`hazelcast.interface` should also be set to `<private ip>` as well.

We eventually figured out by reading this [JFrog documentation](https://www.jfrog.com/confluence/display/RTF/HA+Installation+and+Setup), I suppose

[2019-12-02 09:23] yiwu1 commented on #75
I meet same issue here:
2019-12-02 09:05:02   [12 entrypoint-nginx.sh] To view the Dockerfile: 'cat /docker/nginx-artifactory-pro/Dockerfile.nginx'.
2019-12-02 09:05:02   [68 entrypoint-nginx.sh] Setting up directories if missing
mkdir: cannot create directory '/var/opt/jfrog/nginx/conf.d': Permission denied
2019-12-02 09:05:02   [38 38 functions.sh] ERROR: Failed creating /var/opt/jfrog/nginx/con

[2019-12-03 17:11] schmidkyle opened #179 "Postgress, Artifactory, and Nginx containers do not sync with local time."
Can you add the following volume to each of the containers configuration with in docker-compose, so that it will sync with the local underline system?
 - "/etc/localtime:/etc/localtime:ro"
I have tested it on my system and it works, but I am using Ubuntu 18.04. I am not sure if it will work on all builds?

Here is what my configuration looks like when I make the change.
[code]

[2019-12-04 02:53] yiwu1 commented on #75
Finally chown 104:107 to resolved the permission issue.

[2019-12-04 03:00] yiwu1 commented on #95
I meet same when deploying to kubectl cluster, with HA node 1 and HA node 2 started up successfully, but get **"[emerg] host not found in upstream "artifactory" in /etc/nginx/conf.d/artifactory.conf:31"**.Any root cause can share?
kubectl logs nginx-d554978d9-kwrw5
Using deprecated password for user _internal.
2019-12-03 08:17:48  [138 entrypoint-nginx.sh] Preparing to run Nginx in Docker
2019-12-

[2019-12-04 19:22] mtdeguzis commented on #75
I would think if `getenforce` is "Enforcing" and SELinux is on, you default to a sane label.

[2019-12-12 04:19] casz opened #180 "document docker example for installing/configuring plugins"
Currently trying to configure buildSync.json and I have no idea what is the proper way of configuring the preinstalled buildSync plugin.

Atm I am getting replication errors for artifactory-build-info and I would like to configure it properly.

[2019-12-12 04:43] casz commented on #180
reading the contents on the entrypoint-artifactory.sh reveals the secret but still not very clear.

[code]

[2019-12-22 06:47] asinvrer commented on #180
?

Dragon

[2019-12-23 23:33] akashpatel567 opened #181 "Helm deployment failure on IBM kubernetes cluster using persistence volume"
Hello,

I am using 8.2.4 version from https://charts.jfrog.io/ but not able to make it work when persistence volume is true.

It works when persistence volume is false.

Note: Everytime I have cleaned the release and remove the pvc before the redeployment. Matched the password in artifactory and postgres container is same. Hardcoded the password but error remains same.
Please let me know what coul

[2019-12-24 15:19] eldada commented on #181
I see you also opened this in https://github.com/jfrog/charts/issues/598. We'll work on it there. Closing here.

[2019-12-24 15:19] #181 closed

[2019-12-24 15:31] eldada commented on #180
Yes. The secret is preparing your plugins on the host and mounting them to `/tmp/plugins/` in the Artifactory container. The plugins are copied to their final destination in the entrypoint script.
Indeed - this is not documented well here.

[2020-01-13 16:12] R-Rudolf opened #183 "No Wizard after bootstrap"
After first starting the oss docker compose example, after logging in with access-admin the wizard does not appear, to set new admin password.
It worked for me in version 6.14.1, but not in 6.16, nor 6.17.

[2020-01-19 09:10] eldada commented on #183
@R-Rudolf - is this a fresh new install (not using old exiting volumes)?

[2020-01-20 02:43] asinvrer commented on #183
Cuz

On Sun, Jan 19, 2020, 1:10 AM Eldad Assis <notifications@github.com> wrote:

[2020-01-20 11:53] R-Rudolf commented on #183
I changed the version in the existing docker compose file, but executed a compose down with the extra -v volume removal flag.

Until then as a workaround I used the password recovery process:
[code]

[2020-01-30 22:17] faraonc opened #187 "Test Automation Using docker.bintray.io/jfrog/artifactory-oss Image"
I am writing a script to automate grooming our Artifactory. Due to some of the files are currently used for production, I want to test my script using `docker.bintray.io/jfrog/artifactory-oss` image. Is there a way to prevent Artifactory to force user `admin` to change password on initial startup?

Thanks!

[2020-02-07 15:58] saivikas408 opened #188 "Artifactory failed to initialize: Context is null"
Hi All,

Need help for fixing this issue .I am running artifactory as container  ,version 6.14.2

I am getting this error in logs :
[code]

and the below error when I hit the artifactory url
[code]

[2020-02-09 07:56] eldada commented on #188
@saivikas408 - can you provide more details? It seems you have a bad config. Can it be you are using old configuration (left behind from another installation)?
First - make sure to start with clean volumes. They might have leftover config conflicting with your Artifactory.
Second - provide us with details on how to reproduce.

[2020-02-10 22:28] jamshid commented on #187
Yeah `docker.bintray.io/jfrog/artifactory-oss:4.16.1` was nice because it would automatically be configured for anonymous access and with a maven repo. Now with 6.17.0 I have to manually go to the http://DOCKER-HOST:8081 website and login initially as admin:password, change password to a long password, skip proxy server, Create the Maven repo, then go to Admin => Security Configuration => Allow an

[2020-02-26 12:08] eldada commented on #187
@faraonc This is a general change for Artifactory. Not related to the Docker image.
Can you open an issue in [Artifactory's public JIRA](https://www.jfrog.com/jira)?

[2020-03-02 18:04] walterjgsp opened #190 "Artifactory failed to initialize (failed fetching external topology)"
I'm trying to initialize the artifactory and using the latest image on docker I'm not being able to start the application. And getting the following error before the container stop:

[code]

I followed all the steps on the documentation, the only thing I changed was the command:

[code]

I discovered my UserID and GroupID and replaced the values. I need ideas on how to fix this problem and make th

[2020-03-03 06:36] JfrogPrasanna commented on #190
Are you running your container also as your UserID and GroupID? (by  passing --user 1000:1000)
I suspect some permission issue on the var folder.
Can you relook at other errors in the console.log and tomcat logs and see if there are any permission issues thrown?

Thanks
Prasanna

[2020-03-03 08:18] JfrogPrasanna commented on #190
Also pls note this repo is deprecated and the new  compose is formally supported here:
compose: https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation
helm: https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-HelmInstallation

[2020-03-03 11:08] walterjgsp commented on #190
Something really weird happened. To not use a lot of resources I stopped my Sonarqube container and tried to run Artifactory again, and it works. But when I started the Sonarqube container the Artifactory container just stopped. So right now I can run one or another, but Artifactory worked.

[2020-03-03 16:45] walterjgsp commented on #190
The problem was a lack of resources. After I alter the docker setup on my machine letting it use more memory for the containers both frameworks worked simultaneously.

Thanks for the help!

[2020-03-03 16:45] #190 closed

[2020-03-04 07:56] mmf-Github opened #191 "Artifactory does not start - all variants (HA, Pro)"
Hi there,

I know that this is deprecated, but the official docker-compose does not include NGINX and I use the port method for a Docker registry. I had this running in the past (6.x).

When I clone the repo and prep / start, I run into a lot of issues. With both Pro and HA I get master.key not found, config not found, etc. I am using the same approach as documented. I then created the master.key

[2020-03-04 17:35] JfrogPrasanna commented on #191
Hi - Just wanted to check  if you are using this  documentation:
https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation

Also - there are a few templates  you can use, but the default  one does not carry nginx  - please refer to the templates folder for other compose-templates.

Specifically for the issue you have, did  you run ./confi

[2020-03-09 07:18] faraonc commented on #187
@eldada
I think we pretty much abandon the test, so I am gonna let you determine if writing a JIRA ticket is still needed.

It is important to note that most Docker images available like Postgres or MongoDB would have an entrypoint directory available to initialize the container in the proper state.

For example:
Note: `- ./db/postgres/sql_scripts/:/docker-entrypoint-initdb.d`
[code]

[2020-03-10 12:41] lakshmanavinod opened #192 "Artifactory pro 7.2.1 installation is failing with artifactory-pro.yaml"
I am facing the below issue , while installing artifactory pro with version 7.2.1 with postgresql db version 9.6.11
[code]
Steps to reproduce:
============
1. I have centos 7.7 linux vm with git,docker,docker-compose installed.
2. git clone https://github.com/jfrog/artifactory-docker-examples.git
3. cd artifactory-docker-examples/docker-compose/artifactory
4. sudo  ./prepareHostEnv.sh -t pro -c
5.

[2020-03-10 12:48] eldada commented on #192
Hi @lakshmanavinod . This repository is deprecated.
You should use the new Docker compose installer we have in our [official documentation](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation).

[2020-03-10 12:48] #192 closed

[2020-03-12 15:23] mmf-Github commented on #191
Hi Prasanna, yes, I also tried this documentation. I succeeded in deploying a simple JFrog Artifactory instance, but compared to how smoothly I could get everything up and running, the official compose install is way off. With XRay I had no luck so far with both RPM and Compose, and I will refrain from further testing due to the complexity of setting this up. Thanks for your comment!

[2020-03-12 15:23] #191 closed

[2020-03-17 03:02] JakeDEvans opened #193 "unable to upgrade from 6.18.0 to 7.3.2"
Upgrade from 6.18.0 complains of missing join.key for artifactory-pro

Current:
postgres:9.6.11
artifactory-pro:6.18.1
nginx-artifactory-pro:6.18.1

Upgrade:
postgres:9.6.11
artifactory-pro:7.3.2
nginx-artifactory-pro:7.3.2

Similar issue mentioned here: https://stackoverflow.com/questions/55142890/join-key-file-not-created-or-deleted-on-upgrade-to-6-8-x-artifactory-pro

but env var `JFROG_JOIN_KE

[2020-03-17 08:27] eldada commented on #193
@JakeDEvans - note that there is currently a known issue with migration from 6.18.0 to 7.2.1.  See the [release notes](https://www.jfrog.com/confluence/display/RTF6X/Release+Notes#ReleaseNotes-Artifactory6.18).
Artifactory 7.3.x is planned to be released in the coming days.
Also, note that this repository is deprecated as we now have an official [docker-compose](https://www.jfrog.com/confluence/di

[2020-03-18 15:12] JakeDEvans commented on #193
Yeah that's the issue I've found, nobody else is having this issue.

do you know if I can restore 6.18 back up 7.2.1

[2020-03-18 15:27] JfrogPrasanna commented on #193
@JakeDEvans First of all the  current docker examples are deprecated with the release of unified platform,  and the new installers for compose can be found here - https://jfrog.com/download-jfrog-platform/

The upgrade from 6.18 has an issue, and we are supporting  the upgrade only to an upcoming release 7.3.x that is  coming soon in the next few days.

Now on missing join key,  there are a plenty

[2020-03-23 14:45] Haso58 opened #195 "Setting up artifactory-oss Master key problem"
Hi,

I am pretty new to docker. So I wanted to try to use artifactory with docker. after I start up artifactory-oss-postgress.yml the image starts. But in the Logs it shows me this error

`Failed resolving master key: failed resolving 'shared.security.masterKey' key; file does not exist: /opt/jfrog/artifactory/var/etc/security/master.key`

and when I try to use the prepareHostEnvironment.sh I am g

[2020-03-23 17:37] eldada commented on #195
Hi @Haso58 . This repository is deprecated and not maintained anymore.
We have now an official Docker compose distribution you can download and use from the [official Artifactory OSS download page](https://jfrog.com/open-source/#artifactory).

[2020-03-23 17:37] #195 closed

[2020-03-27 15:52] rlau89 commented on #191
What was the solution to this?

[2020-04-02 19:57] kb7791 opened #196 "/var/opt/jfrog/artifactory has bad permissions for user 'artifactory' (id 1030)"
So I initially had my docker-compose file mounting to a local directory on the host machine and I was tasked to convert it to using docker-volumes. So I made changes to my docker-compose file to the following. Basically just added the reference to the volume in each service and then created that top level volumes: section and set both to external: false. This was the original compose file.

[code]

[2020-04-03 02:02] JfrogPrasanna commented on #196
@kb7791
1. The version of artifactory you are using is old,  and we recommend you to move to 7.x  if possible. If you move refer the new documentation https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory
2. Please note that this repo is deprecated.
3.  The above issue seems like a permission issue  where the  container user (which is artifactory:artifactory)  is not able to access

[2020-04-03 02:06] JfrogPrasanna commented on #193
@JakeDEvans please note that Artifactory 7.3.2 has been released and these issues should be resolved. Can  you  please  upgrade and let us  know.  I am  going ahead and closing  this issue.

[2020-04-03 14:01] kb7791 commented on #196
@JfrogPrasanna

The host directory 'Artifactory_data' is a docker named volume that is made auto-magically by docker-compose file, by default those volumes are stored in /var/lib/docker/volumes and that directory is owned by root regardless if I create them as a non-root user. So that the issue I'm having with the artifactory user in the container trying to access the docker named volume that resi

[2020-04-03 15:26] kb7791 commented on #196
I had this previously working with what you had already suggested, making directories on my local machine and giving them 1030:1030 permissions, but i was tasked to migrate to docker-volumes and since /var/lib/docker/volumes is set to root permission I would think it would be bad practice to chown that directory

[2020-04-03 17:28] JfrogPrasanna commented on #196
@kb7791 in that case, are you ok for the container to run as root. If so you can pass `user: "0:0" ` for artifactory service in your docker-compose.

[2020-04-07 15:50] kb7791 commented on #196
This can be closed, ended up taking the route of creating a full system export on the old vm and using to restore a new instance on the new VM, might be the long way route but it seemed to work without any issues

[2020-04-07 15:50] #196 closed

[2020-04-07 17:17] kb7791 opened #197 "Docker-Compose Upgrade from 6.17 to 7.3.2 not working for docker-volumes"
Current:
postgres:9.6.11
artifactory-pro:6.17.0

Upgrade:
postgres:9.6.11
artifactory-pro:7.3.2

The current installation is running from a docer-compose file, botht the artifactory 6.17 and postgres 9.6.11 are volume mounted to docker named volumes and not bind mounts,

The directions to upgrade from 6.17 to 7.3.2 (https://www.jfrog.com/confluence/display/JFROG/Upgrading+Artifactory#UpgradingArti

[2020-04-08 15:33] JakeDEvans commented on #193
6.18.0 to 7.3.2 does not work
6.18.1 to 7.3.2 does not work

both attempted with my data, and a clean install

[2020-04-08 16:54] kb7791 commented on #193
I'm having a similar issue with upgrading from a docker-compose 6.17.0/postgres 9.6.11 upgrade to artifactory 7.3.2. I find that the instructions on what the config.sh file is doing and how you incorporate your previous docker volumes so that repos and configurations are migrated over are a little vague. You're basically told to run this script to set up directories and proper ownership but it see

[2020-04-08 20:46] JakeDEvans commented on #193
Mine actually upgrades, and then fails to start, complains about the license.

The license is valid with a fresh install of 6.18.1 or 7.3.2, and their update instructions are insane, all you should have to do is swap the image version and `docker-compose up`

[2020-04-08 20:52] JakeDEvans opened #198 "Env variables for DB no longer work."
I'm not sure which version, but I can no longer use these env vars to create the database on v6.18 or v7.2.3

[code]

instead I must manually update the system.yml file, which is then rewritten with an encrypted password.

This also makes changing postgres passwords unlikely.

[2020-04-08 21:03] kb7791 commented on #193
Are you using docker named volumes or local bind mounts?

[2020-04-08 21:09] JakeDEvans commented on #193
both, I don't get permission issues if I do named mounts

[code]

[2020-04-08 21:59] kb7791 commented on #193
I'm using docker volumes that reside in /var/lib/docker/volumesartifactory_data/_data & postgresql_data/_data that seem to work fine using a docker-conmpose file that uses postgres 9.6.11 and artifactory 6.17.0 but this upgrade to 7.3.2 based on jfrog instructions isn't going so smooth.

The config.sh setup is a little confusing as to what its doing under the hood, seems to create a new var direct

[2020-04-10 06:38] JfrogPrasanna commented on #198
@JakeDEvans First of all this  repo is deprecated, we recommend to use [wiki](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory) for the latest compose.

1. On the database creation - the new  compose has this:
[code]
which creates the required user and password in the database.

2.  The  same can be passed to artifactory to use these creds via `system.yaml` or by running `conf

[2020-04-10 07:06] JfrogPrasanna commented on #197
@kb7791 First of all this repo is deprecated. Please use the latest version from wiki.

if you  look at the volume set up in the new  version, it is done as below:

[code]
Where the actual mount point is ROOT_DATA_DIR/var. The reason is we have standardixzed this across all installers  to make the structure to  have JFROG_HOME/artifactory/var as the  data directory and JFROG_HOME/artifactory/app a

[2020-04-10 07:08] JfrogPrasanna commented on #193
@JakeDEvans can you share the  log you see about the license issue - do  you  have the `.lic` in etc folder of artifactory?

[2020-04-10 18:47] JakeDEvans commented on #193
I've given up on attempting to migrate from 6.x to 7.x and have hand-copied over all configurations, it was much faster than tying to work with support and reverse engineer whatever you're trying to do with migrations scripts.

Postgres is docker, just works
nginx in docker, just works
artifactory in docker....I've lost an entire week trying to get this "New Compose" thing working, there's no reas

[2020-04-11 14:46] JfrogPrasanna commented on #193
@JakeDEvans I am  still  not sure  of the issue  you are facing. I would like to  see the logs and come back. Expect my reply on Monday.

[2020-04-12 03:31] JfrogPrasanna commented on #193
@JakeDEvans Looks like Nir has  given the steps to move from Docker install to Docker compose. Hope that works for you.

[2020-04-12 21:49] JakeDEvans commented on #193
it did not.

[2020-04-13 16:43] kb7791 commented on #197
@JfrogPrasanna I understand that this is deprecated, but I'm trying to migrate from your now deprecated docker-compose artifactory-postgresql example for 6.x to 7.3.2 and this link is still being used for tracking issues on your official official Docker-Compose Upgrade instructions to 7.3.2.

So if I have a 2 separate named docker volumes for artifactory_data and postgresql_data, shouldn't I be ab

[2020-04-13 22:48] kb7791 commented on #197
[code]

this is with postgresql not only set in the system yaml but also setup in the docker compose file, seems as if derby still want to start up.

[2020-04-14 03:37] asinvrer commented on #197
Have you ever wanted death?

On Fri, Apr 10, 2020, 12:06 AM Prasanna <notifications@github.com> wrote:

[2020-04-14 23:51] JfrogPrasanna commented on #188
closing due to inactivity.

[2020-04-15 08:23] JfrogPrasanna commented on #197
@kb7791 We were able to  simulate this and here is the root cause.
1.  The folder  structure of data has in-fact changed significantly between 6.x and 7.x
2. The config.sh runs on the host and tries migrated to the new folder structure  and also  migrate the properties to the new `system.yaml`.  But it fails for docker volumes of the kind above due  to permission issues.
3. To handle this, you may

[2020-04-15 08:25] JfrogPrasanna commented on #193
@JakeDEvans We were able to simulate this and here is the root cause.

1.  The folder  structure of data has in-fact changed significantly between 6.x and 7.x
2. The config.sh runs on the host and tries migrated to the new folder structure  and also migrate the properties to the new `system.yaml`.  But it fails for docker volumes of the kind above due  to permission issues.
3. To handle this, you

[2020-04-15 08:31] asinvrer commented on #197
Yo

On Wed, Apr 15, 2020, 1:24 AM Prasanna <notifications@github.com> wrote:

[2020-04-15 13:16] JakeDEvans commented on #197
@JfrogPrasanna you need to throw out your docker-compose 'config.sh' system and start over.

The docker image itself should check the version of the data and do the migration if needed.

1 volume for data
1 volume for db (if external)

Do not publicly maps all ports, only map ports you need (expose in Dockerfile, link w/compose, publicly expose nginx)

HA should be managed with a route/api endpoin

[2020-04-15 13:18] JakeDEvans commented on #193
you can close this issue unresolved, I did have 30 days for your teams to take me seriously.

[2020-04-15 13:18] #193 closed

[2020-04-15 13:59] #198 closed

[2020-04-15 14:14] kb7791 commented on #197
@JfrogPrasanna
The issue I'm having here and someone correct me if I'm wrong. Is that your config file is essentially taking a docker volume that is managed by docker and going in having to chown it to 1030:1030 essentially turning it back into a local mountthat is no longer manged by Docker and not letting Docker do its job.

The docker-compose and system.yaml to use posgresql were completely ign

[2020-04-15 16:49] JfrogPrasanna commented on #197
@JakeDEvans @kb7791 Thanks for your feedback  - We will document the steps to handle docker  volumes, which is clearly missed in our documentation and scripts.

[2020-04-15 19:18] jfrog-aparicio commented on #103
Closing as this integration has been deprecated.

[2020-04-15 19:18] #103 closed

[2020-04-15 19:20] jfrog-aparicio commented on #134
Closing due to inactivity

[2020-04-15 19:20] #134 closed

[2020-04-15 19:20] jfrog-aparicio commented on #138
This integration is deprecated.

[2020-04-15 19:20] #138 closed

[2020-04-17 03:34] JfrogPrasanna commented on #75
Closing the issue due  to inactivity.

[2020-04-17 03:34] #75 closed

[2020-04-17 06:07] JfrogPrasanna commented on #93
Due to inactivity am closing this issue.

[2020-04-17 06:07] #93 closed

[2020-04-17 13:04] mtdeguzis commented on #93
You closed the issue despite the example not being fixed? Huh? Of course individuals get busy, and while it would/would have been great to get a free PR from an end-user, it is still the responsibility of this repo to correct the example. This is especially true of a vendor-backed code repository.

[2020-04-17 16:23] jfrog-aparicio commented on #93
@mtdeguzis These examples are deprecated and no longer being updated. We do have a new docker-compose that should not have this issue. It is now part of the official JFrog release (https://jfrog.com/download-jfrog-platform/), as opposed to just an example here in GitHub.

Give these a try and we would love to hear any feedback on making them better.

[2020-04-17 16:26] mtdeguzis commented on #93
@jfrog-aparicio , due to some requirements, we run this on a VM now. This was from a "past life." Sorry that I can't confirm/contribute to this anymore. My last comment was only to highlight that the issue should still be resolve so folks in the future do not hit any issues. But, as noted, if they are deprecated and noted as so, no need to do anything.

[2020-04-24 12:53] kad-meedel commented on #191
I want to install a fresh artifactory version 7.4.1 with postgres 9.6.11

I combined the example yaml files. The one of artifactroy and postgres and the one of artifactory and nginx!
There is no example of the combination artifactory - nginx and postgres?
I have the same problem as above.
The installation logging says:
2020-04-24T11:53:52.000Z [shell] [INFO ] [] [systemYamlHelper.sh:292       ] [m

[2020-04-27 13:19] mmckinn6 commented on #188
I have the same issue. All configs are untouched. Just performed yum update and Artifactoy 7.4 was installed. i went from 6.19

[2020-04-27 13:20] mmckinn6 commented on #188
I have had lots of issues with artifactory 7 upgrades.

[2020-04-27 18:28] jfrog-aparicio commented on #188
There is a bug where you can't upgrade from 6.19 to 7.x unless you upgrade to 7.4.3+

[2020-04-28 02:22] JfrogPrasanna commented on #125
Closing this as there is no response for a long time and this repo is under deprecation.

[2020-04-28 02:22] #125 closed

[2020-04-28 06:20] shahiinn commented on #108
@andriypotapov : The solution is to import the certificate to java keystore as you mentioned.
However, we would like to inform you you that from Artifactory version 7x, you can add the certificate under $JFROG_HOME/<product>/var/etc/security/keys/trusted which will automatically be updating the keystore on Artifcatory start/restart. Please find more details [here](https://www.jfrog.com/confluence/

[2020-04-28 06:27] kad-meedel commented on #197
Manually upgrade is not possible. We have 3 TB of filestore.
I have the same issue. The installation log mention the postgresql settings, but still derby is used for the database!?

What I need is the installation document for a fresh installation of 7.4.x with docker compose and the combination of artifactory with nginx and postgresql.
Is there any document or example for this combination and a n

[2020-04-28 12:02] tgotzsche commented on #191
I had same issue....the problem is that your database connection is not working, probably because the system.yaml is not correct. Alternatively, try to rm your entire filestore dir and restart.

[2020-04-28 12:39] JfrogPrasanna commented on #197
@kad-meedel The issue here in this issue is that of a compose file with docker-volume. Are you using docker-volume as well? If  you are,  we are working on a new migration procedure to  address it coming in the upcoming release. If not, please send us  the system.yaml  to validate what  it is updated with.

[2020-04-28 12:40] JfrogPrasanna commented on #108
With a recommendation to move to  the latest version of compose, we are closing this issue as this repo is deprecated, and this issue is fixed  in the latest compose files in 7.x.

[2020-04-28 12:40] #108 closed

[2020-04-28 12:47] JfrogPrasanna commented on #191
@kad-meedel There is a template with nginx, postgres and artifactory in the  templates folder in docker package - have  you used that?

[2020-04-28 12:52] tgotzsche commented on #191
I tried many different things :-) For NGINX and Artifactory 7.x, I used this:
https://jfrog.com/knowledge-base/what-is-the-recommended-nginx-reverse-proxy-configuration-for-artifactory-7-x-and-above/
This worked like a charm for me.

At the moment I am struggling with replacing the system.yaml (where my database connection is defined) in a custom Dockfile. The problem is that the entry point scrip

[2020-04-28 13:50] mmckinn6 commented on #188
Unfortunately, I was still unable to get 7.3 working. It seems to be derby related and the logs are saying the db is read only among other errors within the shell scripts installed

[2020-04-28 14:04] kad-meedel commented on #191
@JfrogPrasanna I used the package from jfrog-artifactory-pro-7.4.1-compose.tar.gz
In the directory templates there is a compose-nginx and a compose-postgres.
There is no combination of postgres and nginx with artifactory.
I have tried it myself combining the two templates, but can't get it worked ok.

my starting point is a clean installation of 7.4.1. So no data at all.

[2020-04-28 15:08] mmckinn6 commented on #188
*7.4.3

[2020-04-28 15:16] kad-meedel commented on #197
@JfrogPrasanna  Thanks for your reply. Have you any timeschedule when this new procudure / new release wil be available?

The system.yaml within the artifactory docker container has not been updated with the settings from the docker-compose.yaml input file.
There are only example rules.

--------------------------------------------------------------------------------------
system.yaml
## Example f

[2020-04-30 02:50] JfrogPrasanna commented on #197
`system.yaml` will not be updated  from  docker-compose ENV vars. ENV vars override system values and their names should be of type JF_SHARED_DATABASE_TYPE to represent `system.yaml`  entry
`shared:
   database:
    type:`

The timeline  we are looking for the  support for docker-volumes is sometime May. I would not know the  exact release date yet.

[2020-04-30 02:56] JfrogPrasanna commented on #188
@mmckinn6 Can you please share more details:
1. Do you are seeing with exception in logs? Please share them here
2. Also can you  give info on what you upgraded from what ? Is it 6.19 in rpm to 7.4.3 rpm installer?  3. Please send us the migration.log and see if there are any issue in migration of properties.
4 Please also send us the `system.yaml` to see the old properties are indeed there.

[2020-04-30 02:59] JfrogPrasanna commented on #183
There is a new wizard in the 7.x version to  onboard Artifactory and all other  extensions in the   JPD.  Going ahead and closing this as this repo is under deprecation.

[2020-04-30 02:59] #183 closed

[2020-04-30 03:09] JfrogPrasanna commented on #179
This has been fixed in the latest compose files of 7.x  [here](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation).  And the current compose files are under
 deprecation. In view of that closing this issue.

[2020-04-30 03:09] #179 closed

[2020-04-30 03:11] JfrogPrasanna commented on #161
Please move to the latest  helm charts for  Kubernetes [here](https://github.ccom/jfrog/charts) This repo is under deprecation and hence closing this issue.

[2020-04-30 03:11] #161 closed

[2020-04-30 03:44] JfrogPrasanna commented on #128
I see that the issue in question is resolved. Going ahead and  closing this as this repo is under deprecation.

[2020-04-30 03:44] #128 closed

[2020-04-30 03:46] JfrogPrasanna commented on #137
Closing this. Please open a ticket if this exists in 7.x versions. Review  new version [here.](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation)

[2020-04-30 03:46] #137 closed

[2020-04-30 03:51] JfrogPrasanna commented on #145
Closing this due to the age. Please re-open a new one in JFrog support tickets. This  repo is being deprecated.

[2020-04-30 03:51] #145 closed

[2020-04-30 03:57] vinay-funcove commented on #143
Partnership team is developing an openshift operator to do this. We need a few more weeks to get it to marketplace.
The user will then be able to install
- either artifactory
- or artifactory + xray
- but not xray alone
We will support openshift 4.x as that is latest version.

[2020-04-30 04:00] JfrogPrasanna commented on #164
With the release of 3.0 and support for HA. This will be closed and also this repo is under deprecation.

[2020-04-30 04:00] #164 closed

[2020-04-30 04:06] JfrogPrasanna commented on #151
7.x does not have this issue I guess. With that I am closing this, as this repo is under deprecation.

[2020-04-30 04:06] #151 closed

[2020-04-30 04:27] vinayagg commented on #143
Partnership team has already released an operator for Openshift 4.x that can install artifactory.
We are enhancing it to optionally install xray as well. This will be completed in next 2-3 weeks.

The user will then be able to install
- either artifactory
- or artifactory + xray
- but not xray alone

[2020-04-30 04:29] JfrogPrasanna commented on #151
[code]

[2020-04-30 13:57] TJM commented on #151
Thanks for fixing that :)

[2020-05-01 16:02] Gunner27 opened #200 "OOM killed error in openshift docker containers"
I have deployed docker image Artifactory pro v7.4.1 in Openshift containers. After deployed, Artifactory unable to start service. POD status showing "OOM killed". I have allocated sufficient resources to deploy Artifactory application.

Pod error log:
[jfmd ] [INFO ] [7858549d678ac8bb] [security_keys.go:128          ] [main                ] - Cluster join: Join key is missing. Pending for 55 secon

[2020-05-01 17:46] #200 closed

[2020-05-10 16:14] vrqq commented on #144
### Two Points
**Check whether your container service have subuid / subgid setting**

[code]
Then The "user id=1030 in container" is 101029 in bare OS.
The "root(id=0) in container" is the current user id in bare OS.

Another way to check the running UID in container is, run this image without ```-v```. So it will run successful, then ```ps uax|grep artifactory``` to check the user id.

As the exa

[2020-05-13 09:12] lusu007 commented on #39
Do we have a working solution for that?
Its very confusing with UTC time in logs and on dates of my dependencies. :/

[2020-05-15 19:49] tgotzsche opened #201 "error reading configuration from system.yam"
From a clean installation everything looks fine:
- database connection is good
- tables are created
- permissions looks good

 system.yaml:
`

shared:
    database
        type: mssql
        driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
        url: jdbc:sqlserver://TD0745.res.bec.dk;instanceName=TDSQL0745;databasename=D00011TD00_MKT_ArtifactoryDev;sendStringParametersAsUnicode=false;appli

[2020-05-16 19:06] tgotzsche commented on #201
turned out to be wrong syntax for instance name in jdbc url for sqlserver 14

[2020-05-16 19:06] #201 closed

[2020-06-11 08:43] raj333921 opened #202 "Docker-compose for pro for version 7.x , where i can download ?"
Please suggest us a URL for docker-compose 7z file

[2020-09-05 09:08] MaciejKucia commented on #202
You can get compose at https://jfrog.com/download-jfrog-platform/

Also https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation

[2020-09-14 11:57] deeco commented on #197
Did you ever find this ?

[2020-09-14 12:09] eldada commented on #197
@deeco - Look at the [official documentation](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation).

[2020-09-14 12:09] JakeDEvans commented on #197
Something like this... both of my images have some customization for internal certs and plugins.
[code]

[2020-09-14 12:29] deeco commented on #197
@JakeDEvans this helps thank you , I was using similar to https://github.com/deeco/artifactory-install/tree/master/artifactory/artifactory which works fine for version 6 just not version 7

[2020-10-04 06:14] sooraj2589 opened #203 "Unable to access Jfrog UI"
The antifactory images has been successfully created with artifactory-oss.yml file. Due to permission issue of artifactory user, I have added the     user: "${UID}:${GID}" in compose file and able to run the container.

But after creating, not able to access the Jfrog UI. I tried to curl http://localhost:8080/artifactory inside the contaier and getting connection refused.

Could you please advise

[2020-10-04 07:00] sooraj2589 opened #204 "master key not found while starting with default derby database"
Getting error master key not found while starting with default derby database. Used the same artifactory-oss.yml file

artifactory    | 2020-10-04 07:05:51,731 [localhost-startStop-2] [JFrog-Access] [WARN ] (o.j.s.c.KeyUtils    :66) - master.key not found, waiting for sync...
artifactory    | 2020-10-04 07:05:53,736 [localhost-startStop-2] [JFrog-Access] [WARN ] (o.j.s.c.KeyUtils    :66) - master.

[2020-10-04 09:26] eldada commented on #204
@sooraj2589 - this repository is deprecated and is no longer being maintaned.
1. Download the [Artifactory Docker Compose](https://jfrog.com/open-source/).
2. Follow the latest Docker Compose installation instructions from the [official JFrog Artifactory install](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation)

[2020-10-04 09:26] #204 closed

[2020-10-08 22:17] sumitsingh306 opened #205 "General: What is difference between Artifactory 'Docker Compose upgrade' and 'Docker Compose upgrade using Docker volume' ??"
I have gone through the Artifactory upgrade 6.x to 7.x wiki page. There is method Docker upgrade.
So I want to understand where we can use 'Docker Compose upgrade' and where we can use 'Docker Compose upgrade using Docker volume' method.

I'm using docker-compose with postgresql to run artifactory 6.13.1

Need your inputs.

[2020-10-12 02:09] JfrogPrasanna commented on #205
@sumitsingh306 The docker examples we had provided here had [docker volumes](https://docs.docker.com/storage/volumes/) used in the compose yaml, while the docker compose out of box is using the  hard disk directly as mount points. That is the only difference.

If your earlier compose was using docker volumes, then you can use the docker volume documentation, otherwise the plain vanilla one. Hope t

[2020-10-12 02:10] JfrogPrasanna commented on #203
Which version of artifactory are you using?

[2020-10-12 02:10] #202 closed

[2020-10-12 02:15] JfrogPrasanna commented on #197
Did the official documentation which now supports docker volume not help? Where volumes are pre-created?

Here is the updated docs for upgrade and new installation:
New: https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerInstallation
Upgrade: https://www.jfrog.com/confluence/display/JFROG/Upgrading+Artifactory#UpgradingArtifactory-DockerUpgradedockeru

[2020-10-12 02:20] JfrogPrasanna commented on #188
closing due to inactivity.

[2020-10-12 02:20] #188 closed

[2020-10-12 14:00] kb7791 commented on #197
I haven't had to time to re-attempt the upgrade. We ended having to migrate over to bind mount versus docker volume and are still on the latest 6.x. I'll be re-attempting a move to 7.x in the near future once some time is allotted for the upgrade.

[2020-10-15 17:33] sumitsingh306 commented on #205
@JfrogPrasanna Thanks for your reply. But after referring Jfrog [link](https://www.jfrog.com/confluence/display/JFROG/Upgrading+Artifactory#UpgradingArtifactory-DockerUpgradedockerupgr6) I'm still unable to interpret the differences. If it is just volume mapping difference then why 2 different steps.
Docker compose using "/config.sh" script but docker compose with volume dont ?
Can you help.

[2020-10-16 15:51] DPatrickBoyd commented on #202
there is no 7z file, but it took me a little bit to figure out that you can download the tar.gz from the download link, its the first picture with the octopus holding the containers.

[2020-10-18 05:07] sooraj2589 opened #206 "is this repo works for artifcatory,postgres and file store to create with docker compose?"

[2020-10-18 05:31] eldada commented on #206
This repository is deprecated.
1. Download artifactory from the [official Artifactory download page](https://jfrog.com/download-jfrog-platform/).
2. Follow [Docker compose](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation) installation guide.

[2020-10-18 05:31] #206 closed

[2020-10-18 09:27] sooraj2589 opened #207 "HA setup is not working"
Tried out the HA setup in the repo But the artifactory, nginx containers not starting

Is the repo yaml files depreciated? could anyone redirect me to right repo path for ha setup?

[2020-10-18 11:26] eldada commented on #207
This repository is deprecated.

I assume you mean Docker compose...

1. Download artifactory from the [official Artifactory download page](https://jfrog.com/download-jfrog-platform/).
2. Follow [Docker compose](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DockerComposeInstallation.1) HA installation guide.

[2020-10-18 11:26] #207 closed

[2020-10-28 13:04] sumitsingh306 opened #208 "Artifactory HA upgrade issue, existing set up have docker-compose volume, Nginx and MySql db"
Hi Jfrog Team,

I'm trying to upgrade Artifactory HA 6.15.1 to 7.7.3, current set up have docker-compose with bind mount volume, Nginx and MySql external database.

Please share, if you have any troubleshooting steps or any docker-compose module with Nginx and MySql.

Looking forward your help .

[2020-11-02 05:31] JfrogPrasanna commented on #208
Hey @sumitsingh306 Did you check the procedure here. https://www.jfrog.com/confluence/display/JFROG/Upgrading+Artifactory#UpgradingArtifactory-DockerUpgradedockerupgr6

This has a section on docker volume.

[2020-11-08 22:43] sumitsingh306 commented on #208
Hi Prasanna,
Sorry for delay response.
Yes, I have gone through above procedure but still we are getting error - 'Masterkey is missing ...pinging artifactory'
As I gone through all the relevant document of Artifactory for migration from 6.x to 7.x, its seems that very poor instruction
7x have lots of changes in compare to 6x but upgrade documentation is very messy, no clear cut steps.
After readin

[2020-11-20 12:41] hanikesn opened #209 "Failed Artifactory update from 6.23.1 to 7.6.3"
Hey, I tried to upgrade artifactory-oss via helm from 1.6.0 to 2.5.1. i.e. 6.23.1 to 7.6.3, which should be supported according to: https://www.jfrog.com/confluence/display/JFROG/Upgrading+Artifactory#UpgradingArtifactory-UpgradingfromVersion6.10.xto7.x

However the migration scripts fail to start artifactory:

[code]

Attached is the full log of the migration container:

[install.log](https://git

[2020-11-21 17:28] eldada commented on #209
@hanikesn - this repo is deprecated. Can you open this issue in our [official Helm Charts repository](https://github.com/jfrog/charts/issues) please?

[2020-11-21 17:28] #209 closed

[2020-11-30 12:37] hanikesn commented on #209
See: https://github.com/jfrog/charts/issues/1281

[2021-01-18 16:24] wl2776 opened #210 "Fresh installation of Artifactory OSS 7.12.6 doesn't start, missing jffe service"
I have done everything according to manuals from https://jfrog.com/open-source/

My Ubuntu version is 20.04. Since there is no "focal" in https://releases.jfrog.io/artifactory/artifactory-debs/, I've added "bionic":

[code]

Then I've installed jfrog-artifactory-oss version 7.12.6 and tried launching the service. It has launched, but browser, connected to ports :8081 or :8082 of localhost, shows t

[2021-01-19 05:22] amithins commented on #210
Can you please compress and upload the content of /opt/jfrog/artifactory/var/log

[2021-01-19 07:35] wl2776 commented on #210
Here it is
[artifactory-oss-log.tar.gz](https://github.com/jfrog/artifactory-docker-examples/files/5834309/artifactory-oss-log.tar.gz)

[2021-01-19 15:00] Suphax commented on #210
Having the same issue on Ubuntu 20.04, on a fresh intall
[code]

[artifactory-oss-log.tar.gz](https://github.com/jfrog/artifactory-docker-examples/files/5836579/artifactory-oss-log.tar.gz)

[2021-01-20 04:54] amithins commented on #210
@Suphax how long did you wait for services to come up in 7.12.6 ? In a VM i tried, it took me around 28 seconds for all the services to come up.

[2021-01-20 11:40] Suphax commented on #210
Roughly 30 minutes

[2021-01-20 18:12] rnunna1424 commented on #157
[artifactory (1).log](https://github.com/jfrog/artifactory-docker-examples/files/5844400/artifactory.1.log)
2021-01-20 23:02:05,407 [localhost-startStop-2] [INFO ] (o.a.s.ArtifactoryApplicationContext:301) - Destroying org.artifactory.repo.cache.expirable.CacheExpiry
2021-01-20 23:02:05,408 [localhost-startStop-2] [INFO ] (o.a.s.ArtifactoryApplicationContext:301) - Destroying org.artifactory.secur

[2021-01-21 03:38] rnunna1424 opened #211 "403 Forbidden error getting while accessing http://127.0.0.1:8081"
2021-01-20 23:02:05,407 [localhost-startStop-2] [INFO ] (o.a.s.ArtifactoryApplicationContext:301) - Destroying org.artifactory.repo.cache.expirable.CacheExpiry
2021-01-20 23:02:05,408 [localhost-startStop-2] [INFO ] (o.a.s.ArtifactoryApplicationContext:301) - Destroying org.artifactory.security.interceptor.SecurityConfigurationChangesInterceptors
2021-01-20 23:02:05,408 [localhost-startStop-2] [IN

[2021-01-21 06:50] eldada commented on #211
Can you access http://127.0.0.1:8082?
Artifactory 7 is using port 8082 for UI access. Port 8081 is dedicated for Artifactory API, so you could use http://127.0.0.1:8081/artifactory/api/system/ping for example...

NOTE: This repository is deprecated. You can post on StackOverflow and add an `artifactory` tag.

[2021-01-21 07:45] rnunna1424 commented on #211
Thanks for your response ! but
**Now I am getting 404 page not found error**

![image](https://user-images.githubusercontent.com/41544770/105319211-8d896a00-5bea-11eb-95cb-9c7c2d7a9669.png)

[2021-01-21 07:49] eldada commented on #211
Can you try http://127.0.0.1:8082/ui/ ?